@use "../abstracts" as *;
@use "../base" as *;
@use "../components" as *;

.section {
  width: 100%;
  padding: 160px 24px;

  &-full {
    padding: 0 24px;
    @include flex-box(row, center, center, 0px);

    .container {
      padding: 140px 120px;

      &.no-padding {
        padding: 0;
      }
    }
  }
}

@media(max-width: 768px) {
  .section {
    width: 100%;
    padding: 40px 16px;
  
    &-full {
      padding: 0 0px;

      .container {
        padding: 40px 16px;
  
        &.no-padding {
          padding: 0;
        }
      }
    }
  }
}
.container {
  width: 100%;
  max-width: 1392px;
  margin: auto;

  &-full {
    max-width: 100%;
  }
}