<!-- /templates/customers/register.liquid -->

{% comment %} {% form 'create_customer' %}

{{ form.errors | default_errors }}

<label for="first_name">First Name</label>
<input type="text" value="" name="customer[first_name]" size="30" />

<label for="last_name">Last Name</label>
<input type="text" value="" name="customer[last_name]" size="30" />

<label for="email">Email Address</label>
<input type="email" value="" name="customer[email]" size="30" />

<label for="password">Password</label>
<input type="password" value="" name="customer[password]" size="30" />

<input type="submit" value="Create" />

{% endform %} {% endcomment %}

    <!-- /templates/customers/register.liquid -->
    <section class="section-customer section-full">
        <div class="container">
            <div class="form-content">
                <h1>Create Account</h1>
                
                {% form 'create_customer' %}
                
                    {{ form.errors | default_errors }}
                    <div class="form-layout">
                        <label for="customer_email">Email</label>
                        <input placeholder="Enter your email address" class="input" type="email" value="" name="customer[email]" />
                    
                        <label for="customer_password">Password</label>
                        <input placeholder="Enter your password" class="input" type="password" value="" name="customer[password]" />
    
                        <input class="button btn-primary is-small is-fullwidth submit" type="submit" value="Create" />
                        <div class="text-layout">
                            <span class="dont-have-account">By continuing, you agree to our <a href="/pages/term-and-conditions">Terms and Privacy Policy</a></span>
                        </div>
                    </div>
                
                    {% endform %}
            </div>
        </div>
    </section>