@use "../abstracts" as *;
@use "../base" as *;

.btn-primary {
  padding: 14px;
  background-color: #111111;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}
.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}