<div class="container">
    <div class="basic-content_wrapper">
        <div class="basic-category-content_wrapper-text">
            <h1 class="basic-category-display_title">
                <span>
                    {{ page.title }}
                </span>
            </h1>
            <p class="basic-category-display_paragraft">Last updated March 27, 2025</p>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "basic hero Section",
    "tag": "section",
    "class": "basic-hero section-full"
}
{% endschema %}