<div class="container">
<div>
    <p>
        {{ page.content }}
    </p>
</div>
</div>
{% schema %}
    {
        "name": "Basic-dsc Section",
        "tag": "section",
        "class": "basic section-full"
    }
{% endschema %}