<div class="container image-full-cont">
  <img src="{{ section.settings.select_image |  image_url: width: 1920  }}" alt="" class="img-full">
</div>

{% schema %}
  {
    "name": "Image Section",
    "tag": "section",
    "class": "section image-full",
    "settings": [
      {
        "type": "image_picker",
        "id": "select_image",
        "label": "Select Image"
      }
    ],
    "blocks": [
    ]
  }
  {% endschema %}