<div class="container brand-hero-cont">
  <p class="txt-500 fs-18 cl-black-50 txt-center">
    {{ section.settings.text_heading }}
  </p>
  <p class="txt-400 fs-24 cl-black txt-center">
    {{ section.settings.text_description }}
  </p>
</div>

{% schema %}
  {
    "name": "Brand Hero Section",
    "tag": "section",
    "class": "section brand-hero",
    "settings": [
      {
        "type": "textarea",
        "id": "text_heading",
        "label": "Text Heading",
        "default": "Welcome to AUTONOMIE® - where fashion meets individuality and unity"
      },
      {
        "type": "textarea",
        "id": "text_description",
        "label": "Brand Description",
        "default": "Established in 2021 by the visionary Maha Ahmed, AUTONOMIE® is a Dubai-based brand that aims to foster a sense of unity and connection amongst people. Each collection tells a unique story, and the designs are centered around the idea of individuality and the shared human experience.<br>Through the designs, AUTONOMIE® seeks to unite people across identities, time, and place, reminding us all of our shared humanity."
      }
    ],
    "blocks": [
    ]
  }
{% endschema %}