<div class="container image-half-cont">
  <img src="{{ section.settings.select_image |  image_url: width: 1920  }}" alt="" class="img-half">
  <img src="{{ section.settings.select_image_two |  image_url: width: 1920  }}" alt="" class="img-half">
</div>

{% schema %}
  {
    "name": "Half Images Section",
    "tag": "section",
    "class": "section image-half",
    "settings": [
      {
        "type": "image_picker",
        "id": "select_image",
        "label": "Select Image"
      },
      {
        "type": "image_picker",
        "id": "select_image_two",
        "label": "Select Image Two"
      }
    ],
    "blocks": [
    ]
  }
{% endschema %}