<div class="container">
    <div class="clinicaly-content">
        {% comment %} <img class="image-clinicaly" src="{{ 'clinicaly-image.png' | asset_url }}" alt="Icon" width="1376" height="814"> {% endcomment %}
        <div class="clinicaly-content_text">
            <span class="clinicaly-content_text-bedge">Ozempic</span>
            <h1 class="clinicaly-content_text-title">Clinically proven ingredients and <span>FDA-approved treatments</span></h1>
            <div class="clinicaly-content_text-weightcal">
                <span>Weight calculator</span>
                <div class="card">
                    <div class="card-weight_head">
                        <div class="title">Your current weight</div>
                        <div class="weight">252 <span class="unit">lbs</span></div>
                    </div>

                    <div class="slider-container">
                        <input type="range" min="0" max="100" value="40" step="5" class="slider" disabled>
                    </div>

                    <div class="card-weight_head">
                        <div class="title">Weight you could lose</div>
                        <div class="weight">50 <span class="unit">lbs</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clinicaly-content_cta">
            <img class="clinicaly-content_cta-img" src="{{ 'banner-cta.png' | asset_url }}" alt="Icon" width="1000" height="950">
        </div>

    </div>
</div>

{% schema %}
{
    "name": "Clinicaly Home Section",
    "tag": "section",
    "class": "clinicaly section-full"
}
{% endschema %}