<div class="container">
    <div class="clinicaly-content">
        <img class="image-clinicaly" src="{{ 'clinicaly-image.png' | asset_url }}" alt="Icon" width="1376" height="814">
        <div class="clinicaly-content_text">
            <span class="clinicaly-content_text-bedge">Ozempic</span>
            <h1 class="clinicaly-content_text-title">Clinically proven ingredients and <span>FDA-approved treatments</span></h1>
            <div class="clinicaly-content_text-weightcal">
                <span>Weight calculator</span>
                <div class="card">
                    <div class="card-weight_head">
                        <div class="title">Your current weight</div>
                        <div class="weight">252 <span class="unit">lbs</span></div>
                    </div>

                    <div class="slider-container">
                        <input type="range" min="0" max="100" value="40" step="5" class="slider">
                    </div>

                    <div class="card-weight_head">
                        <div class="title">Weight you could lose</div>
                        <div class="weight">50 <span class="unit">lbs</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clinicaly-content_cta">
            <div class="clinicaly-content_cta-head">
                <img class="card-home_icon" src="{{ 'arrow-clinicaly.svg' | asset_url }}" alt="Icon" width="96" height="55">
                <div class="cta-head_text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
                    <path d="M26.5 5H6.5C5.96957 5 5.46086 5.21071 5.08579 5.58579C4.71071 5.96086 4.5 6.46957 4.5 7V14C4.5 20.59 7.69 24.5837 10.3663 26.7738C13.2487 29.1313 16.1163 29.9312 16.2413 29.965C16.4131 30.0118 16.5944 30.0118 16.7663 29.965C16.8913 29.9312 19.755 29.1313 22.6413 26.7738C25.31 24.5837 28.5 20.59 28.5 14V7C28.5 6.46957 28.2893 5.96086 27.9142 5.58579C27.5391 5.21071 27.0304 5 26.5 5ZM26.5 14C26.5 18.6337 24.7925 22.395 21.425 25.1775C19.9591 26.3846 18.2919 27.324 16.5 27.9525C14.7315 27.335 13.0849 26.4123 11.635 25.2262C8.2275 22.4387 6.5 18.6625 6.5 14V7H26.5V14ZM10.7925 17.7075C10.6049 17.5199 10.4994 17.2654 10.4994 17C10.4994 16.7346 10.6049 16.4801 10.7925 16.2925C10.9801 16.1049 11.2346 15.9994 11.5 15.9994C11.7654 15.9994 12.0199 16.1049 12.2075 16.2925L14.5 18.5863L20.7925 12.2925C20.8854 12.1996 20.9957 12.1259 21.1171 12.0756C21.2385 12.0253 21.3686 11.9994 21.5 11.9994C21.6314 11.9994 21.7615 12.0253 21.8829 12.0756C22.0043 12.1259 22.1146 12.1996 22.2075 12.2925C22.3004 12.3854 22.3741 12.4957 22.4244 12.6171C22.4747 12.7385 22.5006 12.8686 22.5006 13C22.5006 13.1314 22.4747 13.2615 22.4244 13.3829C22.3741 13.5043 22.3004 13.6146 22.2075 13.7075L15.2075 20.7075C15.1146 20.8005 15.0043 20.8742 14.8829 20.9246C14.7615 20.9749 14.6314 21.0008 14.5 21.0008C14.3686 21.0008 14.2385 20.9749 14.1171 20.9246C13.9957 20.8742 13.8854 20.8005 13.7925 20.7075L10.7925 17.7075Z" fill="#ED1C24"/>
                    </svg>
                    <span class="cta-head_text-title">Regulated</span>
                    <span class="cta-head_text-dsc">by the Care Quality Commision</span>
                </div>
            </div>
            <div class="home-display_button-wrapper">
                <button class="button btn-black is-small ">View more
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M11.354 8.35375L6.35403 13.3538C6.30757 13.4002 6.25242 13.4371 6.19173 13.4622C6.13103 13.4873 6.06598 13.5003 6.00028 13.5003C5.93458 13.5003 5.86953 13.4873 5.80883 13.4622C5.74813 13.4371 5.69298 13.4002 5.64653 13.3538C5.60007 13.3073 5.56322 13.2521 5.53808 13.1915C5.51294 13.1308 5.5 13.0657 5.5 13C5.5 12.9343 5.51294 12.8693 5.53808 12.8086C5.56322 12.7479 5.60007 12.6927 5.64653 12.6463L10.2934 8L5.64653 3.35375C5.55271 3.25993 5.5 3.13269 5.5 3C5.5 2.86732 5.55271 2.74007 5.64653 2.64625C5.74035 2.55243 5.8676 2.49973 6.00028 2.49973C6.13296 2.49973 6.26021 2.55243 6.35403 2.64625L11.354 7.64625C11.4005 7.69269 11.4374 7.74783 11.4626 7.80853C11.4877 7.86923 11.5007 7.9343 11.5007 8C11.5007 8.06571 11.4877 8.13077 11.4626 8.19147C11.4374 8.25217 11.4005 8.30732 11.354 8.35375Z" fill="white"/>
                </svg>
                </button>
            </div>
        </div>

    </div>
</div>

{% schema %}
{
    "name": "Clinicaly Home Section",
    "tag": "section",
    "class": "clinicaly section-full"
}
{% endschema %}