<div class="container membership-cont form-active">
  <div class="membership-head">
    <h1 class="txt-500 fs-20 uppercase">Sign Up</h1>
    <span class="txt-400 fs-14 cl-black-50">Please fill in the information below:</span>
  </div>
  <div class="membership-form">
    {% form 'create_customer' %}
      {{ form.errors | default_errors }}
      
      <div class="input-wrapper">
        <label for="first_name">First Name</label>
        <input type="text" value="" name="customer[first_name]" size="30" placeholder="First name" required/>
      </div>
      
      <div class="input-wrapper">
        <label for="last_name">Last Name</label>
        <input type="text" value="" name="customer[last_name]" size="30" placeholder="Last name" required/>
      </div>
      <div class="input-wrapper">
        <label for="email">Email Address</label>
        <input type="email" value="" name="customer[email]" size="30" placeholder="E-mail" v/>
      </div>
      
      <div class="input-wrapper">
        <label for="password">Password</label>
        <input type="password" value="" name="customer[password]" size="30" placeholder="Password" required/>
      </div>
      
      <input type="submit" value="Create Account" class="btn-primary btn-form-submit uppercase"/>
      
    {% endform %}

    <span class="txt-400 fs-14 cl-black-50 txt-center">
      Already have an account?
      <a href="{{ routes.account_login_url }}" class="cl-black underline">Login</a>
    </span>
  </div>
</div>
  
  
  
  {% schema %}
    {
      "name": "Sign Up Section",
      "tag": "section",
      "class": "section membership",
      "settings": [
      ],
      "blocks": [
      ]
    }
  {% endschema %}