
<div class="container">
    <div class="faq-content">
        <div class="faq-content_title">
            <h1 class="faq-content_title-text">Frequently Asked Question</h1>
        </div>
        <div class="faq-content_accordion-wrapper">
            <div class="faq-container">
                {% if section.blocks != blank %}
                    {% for block in section.blocks %}
                    <div class="faq-item {% if forloop.first %}active{% endif %}">
                        <button class="faq-question">
                        {{ block.settings.question | escape }}
                        <div class="faq-icon">
                            <span class="faq-icon-open">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M21 12C21 12.1989 20.921 12.3897 20.7803 12.5303C20.6397 12.671 20.4489 12.75 20.25 12.75H12.75V20.25C12.75 20.4489 12.671 20.6397 12.5303 20.7803C12.3897 20.921 12.1989 21 12 21C11.8011 21 11.6103 20.921 11.4697 20.7803C11.329 20.6397 11.25 20.4489 11.25 20.25V12.75H3.75C3.55109 12.75 3.36032 12.671 3.21967 12.5303C3.07902 12.3897 3 12.1989 3 12C3 11.8011 3.07902 11.6103 3.21967 11.4697C3.36032 11.329 3.55109 11.25 3.75 11.25H11.25V3.75C11.25 3.55109 11.329 3.36032 11.4697 3.21967C11.6103 3.07902 11.8011 3 12 3C12.1989 3 12.3897 3.07902 12.5303 3.21967C12.671 3.36032 12.75 3.55109 12.75 3.75V11.25H20.25C20.4489 11.25 20.6397 11.329 20.7803 11.4697C20.921 11.6103 21 11.8011 21 12Z" fill="#2E4F5F"/>
                                </svg>
                        </span>
                            <span class="faq-icon-close">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M3 12H21" stroke="#2E4F5F" stroke-width="1.3" stroke-linecap="round"/>
                                </svg>
                            </span>
                        </div>
                        </button>
                        <div class="faq-answer">
                            <p>{{ block.settings.answer | escape }}</p>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                            <div class="faq-item active">
                                <button class="faq-question">
                                    How does the online consultation work?
                                    <div class="faq-icon">
                                        <span class="faq-icon-open">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M21 12C21 12.1989 20.921 12.3897 20.7803 12.5303C20.6397 12.671 20.4489 12.75 20.25 12.75H12.75V20.25C12.75 20.4489 12.671 20.6397 12.5303 20.7803C12.3897 20.921 12.1989 21 12 21C11.8011 21 11.6103 20.921 11.4697 20.7803C11.329 20.6397 11.25 20.4489 11.25 20.25V12.75H3.75C3.55109 12.75 3.36032 12.671 3.21967 12.5303C3.07902 12.3897 3 12.1989 3 12C3 11.8011 3.07902 11.6103 3.21967 11.4697C3.36032 11.329 3.55109 11.25 3.75 11.25H11.25V3.75C11.25 3.55109 11.329 3.36032 11.4697 3.21967C11.6103 3.07902 11.8011 3 12 3C12.1989 3 12.3897 3.07902 12.5303 3.21967C12.671 3.36032 12.75 3.55109 12.75 3.75V11.25H20.25C20.4489 11.25 20.6397 11.329 20.7803 11.4697C20.921 11.6103 21 11.8011 21 12Z" fill="#2E4F5F"/>
                                        </svg>
                                        </span>
                                        <span class="faq-icon-close">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M3 12H21" stroke="#2E4F5F" stroke-width="1.3" stroke-linecap="round"/>
                                            </svg>
                                        </span>
        
                                    </div>
        
        
                                </button>
                                <div class="faq-answer">
                                    <p>Simply fill out our secure online questionnaire about your health history and needs. A licensed healthcare provider will review your information and contact you through our secure messaging platform, typically within 24 hours, to discuss treatment options if appropriate.</p>
                                </div>
                            </div>
        
                            <div class="faq-item">
                                <button class="faq-question">
                                    Is my personal and health information kept private?
                                    <div class="faq-icon">
                                        <span class="faq-icon-open">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M21 12C21 12.1989 20.921 12.3897 20.7803 12.5303C20.6397 12.671 20.4489 12.75 20.25 12.75H12.75V20.25C12.75 20.4489 12.671 20.6397 12.5303 20.7803C12.3897 20.921 12.1989 21 12 21C11.8011 21 11.6103 20.921 11.4697 20.7803C11.329 20.6397 11.25 20.4489 11.25 20.25V12.75H3.75C3.55109 12.75 3.36032 12.671 3.21967 12.5303C3.07902 12.3897 3 12.1989 3 12C3 11.8011 3.07902 11.6103 3.21967 11.4697C3.36032 11.329 3.55109 11.25 3.75 11.25H11.25V3.75C11.25 3.55109 11.329 3.36032 11.4697 3.21967C11.6103 3.07902 11.8011 3 12 3C12.1989 3 12.3897 3.07902 12.5303 3.21967C12.671 3.36032 12.75 3.55109 12.75 3.75V11.25H20.25C20.4489 11.25 20.6397 11.329 20.7803 11.4697C20.921 11.6103 21 11.8011 21 12Z" fill="#2E4F5F"/>
                                        </svg>
                                        </span>
                                        <span class="faq-icon-close">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M3 12H21" stroke="#2E4F5F" stroke-width="1.3" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                    </div>
                                </button>
                                <div class="faq-answer">
                                    <p>Absolutely. We use industry-standard encryption and security protocols to protect your data. All consultations and communications are confidential and comply with HIPAA regulations.</p>
                                </div>
                            </div>
        
                            <div class="faq-item">
                                <button class="faq-question">
                                    What kind of medications can I get?
                                    <div class="faq-icon">
                                        <span class="faq-icon-open">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M21 12C21 12.1989 20.921 12.3897 20.7803 12.5303C20.6397 12.671 20.4489 12.75 20.25 12.75H12.75V20.25C12.75 20.4489 12.671 20.6397 12.5303 20.7803C12.3897 20.921 12.1989 21 12 21C11.8011 21 11.6103 20.921 11.4697 20.7803C11.329 20.6397 11.25 20.4489 11.25 20.25V12.75H3.75C3.55109 12.75 3.36032 12.671 3.21967 12.5303C3.07902 12.3897 3 12.1989 3 12C3 11.8011 3.07902 11.6103 3.21967 11.4697C3.36032 11.329 3.55109 11.25 3.75 11.25H11.25V3.75C11.25 3.55109 11.329 3.36032 11.4697 3.21967C11.6103 3.07902 11.8011 3 12 3C12.1989 3 12.3897 3.07902 12.5303 3.21967C12.671 3.36032 12.75 3.55109 12.75 3.75V11.25H20.25C20.4489 11.25 20.6397 11.329 20.7803 11.4697C20.921 11.6103 21 11.8011 21 12Z" fill="#2E4F5F"/>
                                        </svg>
                                        </span>
                                        <span class="faq-icon-close">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M3 12H21" stroke="#2E4F5F" stroke-width="1.3" stroke-linecap="round"/>
                                            </svg>
                                        </span>
        
                                    </div>
        
        
                                </button>
                                <div class="faq-answer">
                                    <p>Our licensed providers can prescribe a wide range of medications for various conditions, similar to what you might get from an in-person visit, excluding controlled substances. The specific treatments available depend on your consultation and medical needs.</p>
                                </div>
                            </div>
        
                            <div class="faq-item">
                                <button class="faq-question">
                                    How quickly will I receive my medication?
                                    <div class="faq-icon">
                                        <span class="faq-icon-open">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M21 12C21 12.1989 20.921 12.3897 20.7803 12.5303C20.6397 12.671 20.4489 12.75 20.25 12.75H12.75V20.25C12.75 20.4489 12.671 20.6397 12.5303 20.7803C12.3897 20.921 12.1989 21 12 21C11.8011 21 11.6103 20.921 11.4697 20.7803C11.329 20.6397 11.25 20.4489 11.25 20.25V12.75H3.75C3.55109 12.75 3.36032 12.671 3.21967 12.5303C3.07902 12.3897 3 12.1989 3 12C3 11.8011 3.07902 11.6103 3.21967 11.4697C3.36032 11.329 3.55109 11.25 3.75 11.25H11.25V3.75C11.25 3.55109 11.329 3.36032 11.4697 3.21967C11.6103 3.07902 11.8011 3 12 3C12.1989 3 12.3897 3.07902 12.5303 3.21967C12.671 3.36032 12.75 3.55109 12.75 3.75V11.25H20.25C20.4489 11.25 20.6397 11.329 20.7803 11.4697C20.921 11.6103 21 11.8011 21 12Z" fill="#2E4F5F"/>
                                        </svg>
                                        </span>
                                        <span class="faq-icon-close">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M3 12H21" stroke="#2E4F5F" stroke-width="1.3" stroke-linecap="round"/>
                                            </svg>
                                        </span>
        
                                    </div>
        
                                </button>
                                <div class="faq-answer">
                                    <p>Once a prescription is approved by your provider, our partner pharmacies typically process and ship it within 1-2 business days. Most patients receive their medication via discreet mail delivery within 3-5 business days after shipping.</p>
                                </div>
                            </div>
        
                            <div class="faq-item">
                                <button class="faq-question">
                                    Do you accept insurance?
                                    <div class="faq-icon">
                                        <span class="faq-icon-open">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M21 12C21 12.1989 20.921 12.3897 20.7803 12.5303C20.6397 12.671 20.4489 12.75 20.25 12.75H12.75V20.25C12.75 20.4489 12.671 20.6397 12.5303 20.7803C12.3897 20.921 12.1989 21 12 21C11.8011 21 11.6103 20.921 11.4697 20.7803C11.329 20.6397 11.25 20.4489 11.25 20.25V12.75H3.75C3.55109 12.75 3.36032 12.671 3.21967 12.5303C3.07902 12.3897 3 12.1989 3 12C3 11.8011 3.07902 11.6103 3.21967 11.4697C3.36032 11.329 3.55109 11.25 3.75 11.25H11.25V3.75C11.25 3.55109 11.329 3.36032 11.4697 3.21967C11.6103 3.07902 11.8011 3 12 3C12.1989 3 12.3897 3.07902 12.5303 3.21967C12.671 3.36032 12.75 3.55109 12.75 3.75V11.25H20.25C20.4489 11.25 20.6397 11.329 20.7803 11.4697C20.921 11.6103 21 11.8011 21 12Z" fill="#2E4F5F"/>
                                        </svg>
                                        </span>
                                        <span class="faq-icon-close">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M3 12H21" stroke="#2E4F5F" stroke-width="1.3" stroke-linecap="round"/>
                                            </svg>
                                        </span>
        
                                    </div>
        
        
                                </button>
                                <div class="faq-answer">
                                    <p>We operate on a cash-pay basis and do not directly accept insurance at this time. This allows us to offer transparent pricing and streamlined service. You may be able to use an HSA/FSA card for payment, and we can provide documentation if you wish to seek reimbursement from your insurer independently.</p>
                                </div>
                            </div>
        
                {% endif %}
            </div>
            <div class="faq-content_accordion-wrapper-card">
                <div class="faq-content_stillhave">
                    <h2>Still have any question?</h2>
                    <button class="button btn-black is-big">Message us
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                            <path d="M11 6.99978C11 7.13238 10.9473 7.25956 10.8536 7.35333C10.7598 7.4471 10.6326 7.49978 10.5 7.49978H6.5C6.36739 7.49978 6.24021 7.4471 6.14645 7.35333C6.05268 7.25956 6 7.13238 6 6.99978C6 6.86717 6.05268 6.73999 6.14645 6.64622C6.24021 6.55245 6.36739 6.49978 6.5 6.49978H10.5C10.6326 6.49978 10.7598 6.55245 10.8536 6.64622C10.9473 6.73999 11 6.86717 11 6.99978ZM10.5 8.49978H6.5C6.36739 8.49978 6.24021 8.55245 6.14645 8.64622C6.05268 8.73999 6 8.86717 6 8.99978C6 9.13238 6.05268 9.25956 6.14645 9.35333C6.24021 9.4471 6.36739 9.49978 6.5 9.49978H10.5C10.6326 9.49978 10.7598 9.4471 10.8536 9.35333C10.9473 9.25956 11 9.13238 11 8.99978C11 8.86717 10.9473 8.73999 10.8536 8.64622C10.7598 8.55245 10.6326 8.49978 10.5 8.49978ZM15 7.99978C15.0002 9.12198 14.7099 10.2251 14.1574 11.2019C13.6048 12.1786 12.8087 12.9956 11.8467 13.5734C10.8847 14.1512 9.78942 14.4701 8.66759 14.499C7.54575 14.528 6.43554 14.266 5.445 13.7385L3.31687 14.4479C3.14068 14.5067 2.9516 14.5152 2.77083 14.4725C2.59006 14.4299 2.42474 14.3377 2.29341 14.2064C2.16207 14.075 2.06991 13.9097 2.02725 13.7289C1.98459 13.5482 1.99312 13.3591 2.05187 13.1829L2.76125 11.0548C2.29759 10.183 2.03862 9.21714 2.004 8.23038C1.96937 7.24362 2.16 6.26194 2.56142 5.35986C2.96283 4.45777 3.56448 3.65899 4.3207 3.02415C5.07691 2.3893 5.96782 1.93507 6.92579 1.69595C7.88376 1.45682 8.88362 1.43908 9.84948 1.64407C10.8153 1.84906 11.7218 2.27139 12.5001 2.87901C13.2783 3.48662 13.9079 4.26356 14.3411 5.15083C14.7743 6.03811 14.9996 7.01241 15 7.99978ZM14 7.99978C13.9998 7.1561 13.8054 6.32379 13.4321 5.56724C13.0587 4.81069 12.5163 4.15017 11.8468 3.6368C11.1773 3.12342 10.3986 2.77095 9.57111 2.60664C8.74359 2.44234 7.88936 2.47061 7.07452 2.68927C6.25968 2.90794 5.50606 3.31112 4.87197 3.86765C4.23788 4.42417 3.74032 5.1191 3.41779 5.89869C3.09525 6.67828 2.95639 7.52161 3.01193 8.36346C3.06748 9.2053 3.31595 10.0231 3.73812 10.7535C3.77356 10.8148 3.79556 10.883 3.80267 10.9535C3.80978 11.0239 3.80184 11.0951 3.77937 11.1623L3 13.4998L5.3375 12.7204C5.38841 12.703 5.44183 12.6942 5.49562 12.6941C5.58344 12.6943 5.66966 12.7176 5.74562 12.7617C6.58175 13.2454 7.53054 13.5004 8.49653 13.501C9.46251 13.5016 10.4116 13.2478 11.2484 12.7651C12.0851 12.2824 12.7799 11.5879 13.263 10.7513C13.746 9.91477 14.0002 8.96576 14 7.99978Z" fill="white"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
    "name": "FAQ Section",
    "tag": "section",
    "class": "faq section-full",
    "settings": [],
    "blocks": [
        {
        "type": "question",
        "name": "Question",
        "settings": [
            {
                "type": "text",
                "id": "question",
                "label": "Question",
                "default": "Lorem ipsum dolor sit"
            },
            {
                "type": "text",
                "id": "answer",
                "label": "Answer",
                "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fringilla, felis elementum fermentum facilisis."
            }
        ]
        }
    ],
    "presets": [
        {
        "name": "FAQ Section",
        "category": "text",
        "blocks": [
            {
            "type": "question"
            }
        ]
        }
    ]
    }
{% endschema %}
    
