<div class="container">
    <div class="product-category-content_wrapper">
        <div class="product-category-content_wrapper-text">
            <h1 class="product-category-display_title">
                Return Policy
            </h1>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Category hero Section",
    "tag": "section",
    "class": "category-hero section-full"
}
{% endschema %}