{% if template != 'index' %}
  <div class="container announcement-bar-cont">
    <span class="txt-400 fs-14 cl-white uppercase txt-center">Free Shipping For Orders Above $500</span>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Announcement Bar",
    "tag": "section",
    "class": "announcement-bar",
    "settings": [
      
    ],
    "blocks": [
    ]
  }
  {% endschema %}