<div class="container">
    <div class="detail-content_wrapper">
        <div class="detail-content_wrapper-text">
            <div class="tag_detail">Most Effective</div>
            <h1 class="detail-display_title">
                Treatments,
                <br>
                <span>Proven by Research</span>
            </h1>
            <p class="detail-display_paragraft">
                Get customized online solutions to help you live a longer, healthier life.
            </p>
        <div class="detail-display_benefit">
            <div class="list_items-benefit">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
                    <path d="M27.96 8.76876L16.96 2.75001C16.6661 2.58761 16.3358 2.50243 16 2.50243C15.6642 2.50243 15.3339 2.58761 15.04 2.75001L4.04 8.77126C3.72586 8.94314 3.46363 9.19621 3.28069 9.50404C3.09775 9.81187 3.00081 10.1632 3 10.5213V22.4763C3.00081 22.8343 3.09775 23.1856 3.28069 23.4935C3.46363 23.8013 3.72586 24.0544 4.04 24.2263L15.04 30.2475C15.3339 30.4099 15.6642 30.4951 16 30.4951C16.3358 30.4951 16.6661 30.4099 16.96 30.2475L27.96 24.2263C28.2741 24.0544 28.5364 23.8013 28.7193 23.4935C28.9023 23.1856 28.9992 22.8343 29 22.4763V10.5225C28.9999 10.1638 28.9032 9.8117 28.7203 9.50315C28.5373 9.1946 28.2747 8.94094 27.96 8.76876ZM16 4.50001L26.0425 10L22.3213 12.0375L12.2775 6.53751L16 4.50001ZM16 15.5L5.9575 10L10.195 7.68001L20.2375 13.18L16 15.5ZM5 11.75L15 17.2225V27.9463L5 22.4775V11.75ZM27 22.4725L17 27.9463V17.2275L21 15.0388V19.5C21 19.7652 21.1054 20.0196 21.2929 20.2071C21.4804 20.3947 21.7348 20.5 22 20.5C22.2652 20.5 22.5196 20.3947 22.7071 20.2071C22.8946 20.0196 23 19.7652 23 19.5V13.9438L27 11.75V22.4713V22.4725Z" fill="#ED1C24"/>
                </svg>
                <h4>
                    Free discreet delivery,
                    <span>
                        no name, no delivery fee
                    </span> 
                </h4>
            </div>

            <div class="list_items-benefit">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
                <path d="M26 5.5H6C5.46957 5.5 4.96086 5.71071 4.58579 6.08579C4.21071 6.46086 4 6.96957 4 7.5V14.5C4 21.09 7.19 25.0837 9.86625 27.2738C12.7487 29.6313 15.6163 30.4312 15.7413 30.465C15.9131 30.5118 16.0944 30.5118 16.2663 30.465C16.3913 30.4312 19.255 29.6313 22.1413 27.2738C24.81 25.0837 28 21.09 28 14.5V7.5C28 6.96957 27.7893 6.46086 27.4142 6.08579C27.0391 5.71071 26.5304 5.5 26 5.5ZM26 14.5C26 19.1337 24.2925 22.895 20.925 25.6775C19.4591 26.8846 17.7919 27.824 16 28.4525C14.2315 27.835 12.5849 26.9123 11.135 25.7262C7.7275 22.9387 6 19.1625 6 14.5V7.5H26V14.5ZM10.2925 18.2075C10.1049 18.0199 9.99944 17.7654 9.99944 17.5C9.99944 17.2346 10.1049 16.9801 10.2925 16.7925C10.4801 16.6049 10.7346 16.4994 11 16.4994C11.2654 16.4994 11.5199 16.6049 11.7075 16.7925L14 19.0863L20.2925 12.7925C20.3854 12.6996 20.4957 12.6259 20.6171 12.5756C20.7385 12.5253 20.8686 12.4994 21 12.4994C21.1314 12.4994 21.2615 12.5253 21.3829 12.5756C21.5043 12.6259 21.6146 12.6996 21.7075 12.7925C21.8004 12.8854 21.8741 12.9957 21.9244 13.1171C21.9747 13.2385 22.0006 13.3686 22.0006 13.5C22.0006 13.6314 21.9747 13.7615 21.9244 13.8829C21.8741 14.0043 21.8004 14.1146 21.7075 14.2075L14.7075 21.2075C14.6146 21.3005 14.5043 21.3742 14.3829 21.4246C14.2615 21.4749 14.1314 21.5008 14 21.5008C13.8686 21.5008 13.7385 21.4749 13.6171 21.4246C13.4957 21.3742 13.3854 21.3005 13.2925 21.2075L10.2925 18.2075Z" fill="#ED1C24"/>
                </svg>
                <h4>
                    Regulated
                    <span>
                        by the Care Quality Commision 
                    </span> 
                </h4>
            </div>

            <div class="list_items-benefit">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
                <path d="M16 3.5C13.4288 3.5 10.9154 4.26244 8.77759 5.6909C6.63975 7.11935 4.97351 9.14968 3.98957 11.5251C3.00563 13.9006 2.74819 16.5144 3.2498 19.0362C3.75141 21.5579 4.98953 23.8743 6.80762 25.6924C8.6257 27.5105 10.9421 28.7486 13.4638 29.2502C15.9856 29.7518 18.5995 29.4944 20.9749 28.5104C23.3503 27.5265 25.3807 25.8603 26.8091 23.7224C28.2376 21.5846 29 19.0712 29 16.5C28.9964 13.0533 27.6256 9.74882 25.1884 7.31163C22.7512 4.87445 19.4467 3.50364 16 3.5ZM16 27.5C13.8244 27.5 11.6977 26.8549 9.88873 25.6462C8.07979 24.4375 6.66989 22.7195 5.83733 20.7095C5.00477 18.6995 4.78693 16.4878 5.21137 14.354C5.63581 12.2202 6.68345 10.2602 8.22183 8.72183C9.76021 7.18345 11.7202 6.1358 13.854 5.71136C15.9878 5.28692 18.1995 5.50476 20.2095 6.33733C22.2195 7.16989 23.9375 8.57979 25.1462 10.3887C26.3549 12.1977 27 14.3244 27 16.5C26.9967 19.4164 25.8367 22.2123 23.7745 24.2745C21.7123 26.3367 18.9164 27.4967 16 27.5ZM14 12.5V20.5C14 20.7652 13.8946 21.0196 13.7071 21.2071C13.5196 21.3946 13.2652 21.5 13 21.5C12.7348 21.5 12.4804 21.3946 12.2929 21.2071C12.1054 21.0196 12 20.7652 12 20.5V12.5C12 12.2348 12.1054 11.9804 12.2929 11.7929C12.4804 11.6054 12.7348 11.5 13 11.5C13.2652 11.5 13.5196 11.6054 13.7071 11.7929C13.8946 11.9804 14 12.2348 14 12.5ZM20 12.5V20.5C20 20.7652 19.8946 21.0196 19.7071 21.2071C19.5196 21.3946 19.2652 21.5 19 21.5C18.7348 21.5 18.4804 21.3946 18.2929 21.2071C18.1054 21.0196 18 20.7652 18 20.5V12.5C18 12.2348 18.1054 11.9804 18.2929 11.7929C18.4804 11.6054 18.7348 11.5 19 11.5C19.2652 11.5 19.5196 11.6054 19.7071 11.7929C19.8946 11.9804 20 12.2348 20 12.5Z" fill="#ED1C24"/>
                </svg>
                <h4>
                    Pause or cancel any time, 
                    <span>
                        You always in control
                    </span> 
                </h4>
            </div>

            <div class="list_items-benefit">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
                <path d="M27.5 20.5C27.5 20.7967 27.412 21.0867 27.2472 21.3334C27.0824 21.58 26.8481 21.7723 26.574 21.8858C26.2999 21.9993 25.9983 22.0291 25.7074 21.9712C25.4164 21.9133 25.1491 21.7704 24.9393 21.5607C24.7296 21.3509 24.5867 21.0836 24.5288 20.7926C24.4709 20.5017 24.5007 20.2001 24.6142 19.926C24.7277 19.6519 24.92 19.4176 25.1666 19.2528C25.4133 19.088 25.7033 19 26 19C26.3978 19 26.7794 19.158 27.0607 19.4393C27.342 19.7206 27.5 20.1022 27.5 20.5ZM26.9312 25.4112C26.7116 26.8273 25.9932 28.1182 24.9057 29.0513C23.8181 29.9844 22.433 30.4982 21 30.5H18C16.4092 30.4983 14.884 29.8657 13.7592 28.7408C12.6343 27.616 12.0017 26.0908 12 24.5V19.4363C10.0669 19.1927 8.28915 18.2521 7.00033 16.7909C5.71152 15.3297 5.00024 13.4484 5 11.5V5.5C5 5.23478 5.10536 4.98043 5.29289 4.79289C5.48043 4.60536 5.73478 4.5 6 4.5H9C9.26522 4.5 9.51957 4.60536 9.70711 4.79289C9.89464 4.98043 10 5.23478 10 5.5C10 5.76522 9.89464 6.01957 9.70711 6.20711C9.51957 6.39464 9.26522 6.5 9 6.5H7V11.5C6.99993 12.2947 7.15773 13.0815 7.46425 13.8147C7.77077 14.5479 8.2199 15.213 8.78555 15.7712C9.3512 16.3294 10.0221 16.7697 10.7593 17.0664C11.4965 17.3632 12.2854 17.5106 13.08 17.5C16.3438 17.4575 19 14.7188 19 11.3962V6.5H17C16.7348 6.5 16.4804 6.39464 16.2929 6.20711C16.1054 6.01957 16 5.76522 16 5.5C16 5.23478 16.1054 4.98043 16.2929 4.79289C16.4804 4.60536 16.7348 4.5 17 4.5H20C20.2652 4.5 20.5196 4.60536 20.7071 4.79289C20.8946 4.98043 21 5.23478 21 5.5V11.3962C21 15.5012 17.9338 18.9325 14 19.435V24.5C14 25.5609 14.4214 26.5783 15.1716 27.3284C15.9217 28.0786 16.9391 28.5 18 28.5H21C21.9084 28.4985 22.7893 28.1884 23.4983 27.6207C24.2074 27.0529 24.7025 26.2611 24.9025 25.375C23.6948 25.1037 22.6306 24.3941 21.916 23.3835C21.2013 22.3729 20.8869 21.1331 21.0336 19.904C21.1803 18.6749 21.7776 17.5439 22.7101 16.7299C23.6426 15.9159 24.8439 15.4767 26.0815 15.4972C27.3191 15.5178 28.5051 15.9968 29.41 16.8414C30.3149 17.686 30.8743 18.8362 30.98 20.0694C31.0858 21.3027 30.7303 22.5314 29.9824 23.5177C29.2345 24.504 28.1473 25.1778 26.9312 25.4088V25.4112ZM29 20.5C29 19.9067 28.8241 19.3266 28.4944 18.8333C28.1648 18.3399 27.6962 17.9554 27.1481 17.7284C26.5999 17.5013 25.9967 17.4419 25.4147 17.5576C24.8328 17.6734 24.2982 17.9591 23.8787 18.3787C23.4591 18.7982 23.1734 19.3328 23.0576 19.9147C22.9419 20.4967 23.0013 21.0999 23.2284 21.6481C23.4554 22.1962 23.8399 22.6648 24.3333 22.9944C24.8266 23.3241 25.4067 23.5 26 23.5C26.7956 23.5 27.5587 23.1839 28.1213 22.6213C28.6839 22.0587 29 21.2956 29 20.5Z" fill="#ED1C24"/>
                </svg>
                <h4>
                    Ongoing clinical support,
                    <span>
                        Access expert advice
                    </span> 
                </h4>
            </div>
        </div>
        <div class="detail-display_button-wrapper">
            <button class="button btn-primary is-big">Get Sarted
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M11.354 8.35375L6.35403 13.3538C6.30757 13.4002 6.25242 13.4371 6.19173 13.4622C6.13103 13.4873 6.06598 13.5003 6.00028 13.5003C5.93458 13.5003 5.86953 13.4873 5.80883 13.4622C5.74813 13.4371 5.69298 13.4002 5.64653 13.3538C5.60007 13.3073 5.56322 13.2521 5.53808 13.1915C5.51294 13.1308 5.5 13.0657 5.5 13C5.5 12.9343 5.51294 12.8693 5.53808 12.8086C5.56322 12.7479 5.60007 12.6927 5.64653 12.6463L10.2934 8L5.64653 3.35375C5.55271 3.25993 5.5 3.13269 5.5 3C5.5 2.86732 5.55271 2.74007 5.64653 2.64625C5.74035 2.55243 5.8676 2.49973 6.00028 2.49973C6.13296 2.49973 6.26021 2.55243 6.35403 2.64625L11.354 7.64625C11.4005 7.69269 11.4374 7.74783 11.4626 7.80853C11.4877 7.86923 11.5007 7.9343 11.5007 8C11.5007 8.06571 11.4877 8.13077 11.4626 8.19147C11.4374 8.25217 11.4005 8.30732 11.354 8.35375Z" fill="white"/>
            </svg>
            </button>
        </div>
        </div>
        <div class="detail-content_wrapper-image">
            <img class="begin-card_image" src="{{ 'vaccine-bottle1.png' | asset_url }}" alt="Icon" width="1000" height="1000">
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Hero detail Section",
        "tag": "section",
        "class": "hero-detail section-full"
    }
{% endschema %}