<div class="container">
    <div class="howitwork-content">
        <div class="howitwork-content_text">
            <span class="howitwork-content_text_bedge">How it works</span>
            <h1 class="howitwork-content_text_title">Begin your weight loss journey</h1>
        </div>
        <div class="howitwork-content_info-card">
            <div class="howitwork_info-items">
                <img src="{{ 'info-bg1.png' | asset_url }}" alt="Icon" width="389" height="500">
                <h2>Consultation</h2>
                <p>Experience a quick and easy online consultation from the comfort of your own home. </p>
            </div>
            <div class="howitwork_info-items">
                <img src="{{ 'info-bg2.png' | asset_url }}" alt="Icon" width="389" height="500">
                <h2>Plan & Treatment</h2>
                <p>Customized weight loss plan and structuring nutrition plan designed to support fat loss. </p>
            </div>
            <div class="howitwork_info-items">
                <img src="{{ 'info-bg3.png' | asset_url }}" alt="Icon" width="389" height="500">
                <h2>Delivery</h2>
                <p>To support your weight loss journey, the prescribed injection medicine is delivered directly to you. </p>
            </div>
        </div>

    </div>
</div>

{% schema %}
{
    "name": "How it work Home Section",
    "tag": "section",
    "class": "howitwork section-full"
}
{% endschema %}