<div class="container">
    <div class="howitwork-content">
        <div class="howitwork-content_text">
            <span class="howitwork-content_text_bedge">
            How it works</span>
            <h1 class="howitwork-content_text_title">Get Your Prescriptions in 3 Easy Steps</h1>
        </div>
        <div class="howitwork-content_info-card">
            <div class="howitwork_info-items">
                <img src="{{ 'info-bg1.png' | asset_url }}" alt="Icon" width="389" height="500">
                <h2>Consultation</h2>
                <p>Have a quick and easy online consultation with a licensed provider from the comfort of your home.</p>
            </div>
            <div class="howitwork_info-items">
                <img src="{{ 'info-bg2.png' | asset_url }}" alt="Icon" width="389" height="500">
                <h2>Get Prescribed</h2>
                <p>If appropriate, receive a personalized prescription for your specific healthcare needs online.</p>
            </div>
            <div class="howitwork_info-items">
                <img src="{{ 'info-bg3.png' | asset_url }}" alt="Icon" width="389" height="500">
                <h2>Delivery</h2>
                <p>Your approved medication is shipped quickly and delivered discreetly right to your doorstep.</p>
            </div>
        </div>

    </div>
</div>

{% schema %}
{
    "name": "How it work Home Section",
    "tag": "section",
    "class": "howitwork section-full"
}
{% endschema %}