<div class="container legal-cont">
  <div class="legal-head">
    <h1 class="txt-500 fs-20 uppercase">
      {% if page.metafields.custom.page_title != blank %}
        {{ page.metafields.custom.page_title }}
      {% else %}
        {{ page.title }}
      {% endif %}  
    </h1>
    {% if page.metafields.custom.page_subtitle != blank %}
      <span class="txt-400 fs-14 cl-black-50">{{ page.metafields.custom.page_subtitle }}</span>
    {% endif %}
  </div>
  <div class="legal-main">
    {{ page.content | raw }}
  </div>
</div>

{% schema %}
  {
    "name": "Legal Section",
    "tag": "section",
    "class": "section legal",
    "settings": [
    ],
    "blocks": [
    ]
  }
{% endschema %}