<div class="container">
    <div class="navbar_layout">
        <div class="navbar_brand">
            <a href="/">
                <img class="logo-brand" src="{{ 'Logo-myscripts.svg' | asset_url }}" alt="Icon" width="150" height="30">
            </a>
        </div>
        <div class="navbar_menus">
            <div class="navbar_menus-left">
                <a href="/collections">Explore</a>
                <a href="/">About Us</a>
                <a href="/">How it Works</a>
                <a href="/">Help Center</a>
            </div>

            <div class="navbar_menus-right">
                <a href="">Contact</a>
                {% comment %} <a href="/cart">
                    <img class="cart-icon" src="{{ 'cart-ic.svg' | asset_url }}" alt="Icon" width="24" height="24">
                </a> {% endcomment %}
                <a href="/account/login" class="button btn-outline is-small">Sign in</a>
            </div>
        </div>
        <a href="/cart" class="cart_menus">
            <img class="cart-icon" src="{{ 'cart-ic.svg' | asset_url }}" alt="Icon" width="24" height="24">
        </a>
        <div class="navbar_button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M3.75 9H20.25M3.75 15.75H20.25" stroke="#274250" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Navbar Section",
    "tag": "section",
    "class": "navbar section-full"
}
{% endschema %}