<div class="container body-copy-cont">
  <div class="body-copy-title">
    <span class="txt-400 fs-14 cl-black-50 uppercase">
      {{ section.settings.eyebrow_title }}
    </span>
    <span class="txt-500 fs-32 cl-black">
      {{ section.settings.text_heading }}
    </span>
  </div>
  <div class="body-copy-content">
    <p class="txt-400 fs-20 cl-black-50">
      {{ section.settings.text_description }}
    </p>
  </div>
</div>

{% schema %}
  {
    "name": "Body Copy Section",
    "tag": "section",
    "class": "section body-copy",
    "settings": [
      {
        "type": "text",
        "id": "eyebrow_title",
        "label": "Eyebrow Title",
        "default": "Creativity"
      },
      {
        "type": "textarea",
        "id": "text_heading",
        "label": "Text Heading",
        "default": "Crafting fashion with visionary creativity."
      },
      {
        "type": "textarea",
        "id": "text_description",
        "label": "Text Description",
        "default": "At AUTONOMIE®, creativity is the driving force behind our brand. Our commitment to creativity is reflected in every aspect of our design process. From concept to the final garment, we prioritize innovation.<br> Maha Ahmed, our founder, infuses her vision into each collection, drawing inspiration from diverse sources such as culture, nature, and contemporary trends. Our team of skilled designers and artisans collaborate passionately to bring these ideas to life, resulting in collections that are both unique and trendsetting.<br>Our approach to creativity is about pushing boundaries and breaking molds, challenging the norm, and exploring the uncharted. In every design, AUTONOMIE® aims to inspire a world where creativity knows no bounds."
      }
    ],
    "blocks": [
    ]
  }
{% endschema %}