<div class="container">
    <div name="termly-embed" data-id="c168d0fb-9d12-4ce8-90de-17c38431847b"></div>
    <script type="text/javascript">
        (function(d, s, id) {
        var js, tjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://app.termly.io/embed-policy.min.js";
        tjs.parentNode.insertBefore(js, tjs);
        }(document, 'script', 'termly-jssdk'));
    </script>
</div>
{% schema %}
    {
        "name": "shipping Section",
        "tag": "section",
        "class": "basic section-full"
    }
{% endschema %}