
<div class="container">
    <div class="testimoni-content">
        <div class="testimoni-content_title">
            <span class="testimoni-content_title-bedge">Testimonial</span>
            <h1 class="testimoni-content_title-text">What they said about us</h1>
        </div>
        <div class="testimoni-content_slider">
            
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Testimoni Section",
    "tag": "section",
    "class": "testimoni section-full",
    "presets": [
        {
            "name": "testimoni section"
        }
    ]
}
{% endschema %}
