@font-face {
  font-family: "Inter";
  src: url("assets/Inter_18pt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("assets/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("assets/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("assets/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("assets/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("assets/Inter_18pt-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #fff;
  color: #111;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h1 {
  font-size: 41px;
  font-weight: 500;
  line-height: 120%;
}

p {
  font-size: 12px;
  line-height: 150%;
}

a {
  color: inherit;
}

.txt-400 {
  font-weight: 400;
}

.txt-500 {
  font-weight: 500;
}

.txt-600 {
  font-weight: 600;
}

.txt-700 {
  font-weight: 700;
}

.txt-900 {
  font-weight: 900;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.fs-40 {
  font-size: 40px;
}

.fs-48 {
  font-size: 48px;
}

.fs-56 {
  font-size: 56px;
}

.fs-64 {
  font-size: 64px;
}

@media (max-width: 480px) {
  .fs-12 {
    font-size: 10px;
  }
  .fs-14 {
    font-size: 12px;
  }
  .fs-16 {
    font-size: 14px;
  }
  .fs-18 {
    font-size: 16px;
  }
  .fs-20 {
    font-size: 18px;
  }
  .fs-24 {
    font-size: 20px;
  }
  .fs-32 {
    font-size: 28px;
  }
  .fs-40 {
    font-size: 32px;
  }
  .fs-48 {
    font-size: 40px;
  }
  .fs-56 {
    font-size: 48px;
  }
  .fs-64 {
    font-size: 56px;
  }
}
.cl-white {
  color: #ffffff;
}
.cl-white-50 {
  color: rgba(255, 255, 255, 0.5);
}
.cl-white-60 {
  color: rgba(255, 255, 255, 0.6);
}

.cl-black {
  color: #111111;
}
.cl-black-50 {
  color: rgba(17, 17, 17, 0.5);
}
.cl-black-60 {
  color: rgba(17, 17, 17, 0.6);
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.txt-center {
  text-align: center;
}

.btn-primary {
  padding: 14px;
  background-color: #111111;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cart-drawer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.cart-drawer .drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 480px;
  height: 100%;
  max-height: 100%;
  background: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0px;
}
.cart-drawer .drawer-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 80px;
  padding: 24px;
  border-bottom: 1px solid #d9d9d9;
  flex-shrink: 0;
}
.cart-drawer .drawer-header .close-drawer {
  border: none;
  background-color: #ffffff;
}
.cart-drawer .drawer-main {
  padding: 24px;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
}
.cart-drawer .drawer-footer {
  padding: 24px;
  min-height: 120px;
  border-top: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px;
  flex-shrink: 0;
  background-color: transparent;
}
.cart-drawer .drawer-footer-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 80px;
}
.cart-drawer .drawer form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  max-height: calc(100% - 72px);
}
.cart-drawer .drawer-cart-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;
  padding: 16px 0;
}
.cart-drawer .drawer-cart-action {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
}
.cart-drawer .drawer img {
  height: 160px;
  width: 140px;
  object-fit: cover;
}
.cart-drawer .drawer.go-to-cart {
  pointer-events: auto;
}
.cart-drawer.open {
  opacity: 1;
  pointer-events: all;
  transition: all 0.3s ease-in-out;
}
.cart-drawer.open .drawer {
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 640px) {
  .cart-drawer .drawer {
    width: 100%;
  }
  .cart-drawer .drawer img {
    width: 120px;
    height: 120px;
  }
}
.language {
  position: relative;
}
.language-btn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}
.language-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 8px;
  border: 1px solid #ffffff;
  width: fit-content;
  background-color: #111111;
  min-width: 240px;
  max-height: 320px;
  overflow-y: scroll;
  margin-top: 16px;
  position: absolute;
  bottom: 0;
}
.language-list[hidden] {
  display: none;
}
.language-list-item {
  cursor: pointer;
}

.currency {
  position: relative;
}
.currency-btn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}
.currency-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 12px 16px;
  border: 1px solid #ffffff;
  width: fit-content;
  background-color: #ffffff;
  max-height: 200px;
  overflow-y: scroll;
  margin-top: 16px;
  position: absolute;
  top: 24px;
}
.currency-list[hidden] {
  display: none;
}
.currency-list-item {
  cursor: pointer;
  color: #111111;
}

.section {
  width: 100%;
  padding: 160px 24px;
}
.section-full {
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.section-full .container {
  padding: 140px 0px;
}
.section-full .container.no-padding {
  padding: 0;
}

@media (max-width: 768px) {
  .section {
    padding: 72px 16px;
  }
}
.container {
  width: 100%;
  max-width: 1392px;
  margin: auto;
}
.container-full {
  max-width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  padding: 16px 24px;
  color: #ffffff;
}
.navbar-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  max-width: 100%;
  position: relative;
}
.navbar-cont > * {
  width: calc(33% - 16px);
}
.navbar:has(.navbar-white) {
  position: sticky;
  background-color: #ffffff;
  color: #111111;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
}
.navbar-left, .navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}
.navbar-right, .navbar-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}
.navbar-action-item {
  cursor: pointer;
}
.navbar-center {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.navbar-logo {
  height: 36px;
}
.navbar-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.navbar-overlay.show {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s ease;
}
.navbar-overlay.show-transparent {
  opacity: 1;
  pointer-events: auto;
}
.navbar-left-mobile {
  display: none;
}
.navbar-left-mobile .nav-menu-button {
  border: none;
  background-color: transparent;
}
.navbar-mobile {
  display: none;
}

@media (max-width: 768px) {
  .navbar-left {
    display: none;
  }
  .navbar-left-mobile {
    display: block;
  }
  .navbar #nav-user {
    display: none;
  }
  .navbar-logo {
    height: 24px;
  }
  .navbar-action {
    gap: 16px;
  }
  .navbar-mobile {
    background-color: #ffffff;
    width: 90%;
    height: 100%;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.5s ease;
  }
  .navbar-mobile.menu-active {
    transform: translateX(0%);
    opacity: 1;
    transition: all 0.5s ease;
  }
  .navbar-mobile-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 16px;
    border-bottom: 1px solid #e3e3e3;
  }
  .navbar-mobile-head button {
    background-color: transparent;
    border: none;
  }
  .navbar-mobile-main {
    padding: 24px 16px;
  }
  .navbar-mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0;
  }
  .navbar-mobile-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    border-bottom: 1px solid #e3e3e3;
    padding: 16px 0;
    font-size: 20px;
    font-weight: 500;
  }
  .navbar-mobile-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    width: 100%;
  }
  .navbar-mobile-sublist {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding-left: 8px;
    padding-top: 0px;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
  .navbar-mobile-sublist.sublist-show {
    padding-top: 16px;
    opacity: 1;
    height: 100%;
  }
  .navbar-mobile-subitem {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .navbar {
    padding: 16px;
  }
}
.dropdown-left {
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: -100%;
  left: 0;
  transition: all 0.5s ease;
}
.dropdown-left.dropdown-transparent {
  background-color: transparent;
}
.dropdown-left.dropdown-transparent .dropdown-left-list .dropdown-left-item {
  color: white;
}
.dropdown-left.dropdown-active {
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  z-index: 3;
}
.dropdown-left-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #111111;
}
.dropdown-left-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.dropdown-left-item {
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;
  color: #111111;
}
.dropdown-left-item a:hover {
  text-decoration: underline;
}

.dropdown-right {
  width: 460px;
  padding: 16px 16px 48px;
  background-color: #ffffff;
  color: #111111;
  position: absolute;
  top: 72px;
  right: -100%;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 32px;
}
.dropdown-right.dropdown-active {
  right: 0;
  transition: all 0.5s ease;
  z-index: 3;
}
.dropdown-right .nav-search-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  height: 44px;
  width: 100%;
  border: 1px solid #e3e3e3;
}
.dropdown-right .nav-search-wrapper input {
  height: 100%;
  width: 100%;
  padding: 14px;
  padding-right: 0;
  border: none;
}
.dropdown-right .nav-search-wrapper input:active, .dropdown-right .nav-search-wrapper input:focus {
  border: none;
  outline: none;
}
.dropdown-right .nav-search-wrapper .btn-nav-cancel {
  padding: 4px 8px;
  margin-right: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.dropdown-right-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
}
.dropdown-right-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.dropdown-right-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  width: calc(50% - 16px);
}
.dropdown-right-list-title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
}
.dropdown-right-list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}
.dropdown-right-list-item a {
  text-decoration: underline;
}

@media (max-width: 640px) {
  .dropdown-right {
    width: 100%;
  }
}
.announcement-bar {
  position: relative;
  z-index: 99999;
}
.announcement-bar-cont {
  max-width: 100%;
  padding: 10px 24px;
  background-color: #111111;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.footer {
  padding: 92px 24px 24px;
  background-color: #111111;
  color: #ffffff;
}
.footer-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 64px;
}
.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 120px;
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
.footer-newsletter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  width: 50%;
  max-width: 420px;
}
.footer-newsletter-head {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.footer-form {
  width: 100%;
}
.footer-form form {
  width: 100%;
}
.footer-form-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.footer-form-input input {
  width: 100%;
  padding: 12px;
  background-color: transparent;
  border: none !important;
  color: #ffffff;
}
.footer-form-input input:focus, .footer-form-input input:active {
  border: none;
  outline: none;
}
.footer-form-input button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  width: 50%;
  max-width: 680px;
}
.footer-links-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.footer-links-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  width: 50%;
}
.footer-links-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.6);
}
.footer-logo {
  height: 64px;
}
.footer-copyright-wrapper {
  width: 100%;
  padding-top: 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
}

@media (max-width: 768px) {
  .footer-cont {
    gap: 200px;
  }
}
@media (max-width: 640px) {
  .footer {
    padding: 32px 16px;
  }
  .footer-top {
    flex-direction: column;
  }
  .footer-newsletter {
    width: 100%;
    max-width: none;
  }
  .footer-links {
    width: 100%;
    flex-direction: column;
    gap: 48px;
    max-width: none;
  }
}
@media (max-width: 480px) {
  .footer-logo {
    width: 100%;
    height: auto;
  }
  .footer-copyright-wrapper {
    border-top: none;
    flex-direction: column;
    gap: 16px;
  }
  .footer-copyright-wrapper .fs-14 {
    font-size: 14px;
  }
}
.home-section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  position: relative;
  width: 100%;
  z-index: 2;
}
.home-section-title .home-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
}
.home-section-title .home-btn::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 0%;
  height: 1px;
  position: absolute;
  bottom: -8px;
  transition: all 0.1s ease-out;
}
.home-section-title .home-btn:hover::after {
  width: 100%;
  transition: all 0.2s ease-out;
}
.home-section-title .home-btn.items-center {
  align-items: center;
  text-align: center;
}
.home-section-title .home-btn.align-bottom {
  margin-top: auto;
  margin-bottom: 0;
}
.home-section-title .home-btn.align-top {
  margin-top: 0;
  margin-bottom: auto;
}
.home-section-title .home-btn.align-right {
  align-items: flex-end;
}
.home-section-title.items-center {
  justify-content: center;
}

.items-center {
  align-items: center;
  text-align: center;
}

.align-bottom {
  margin-top: auto;
  margin-bottom: 0;
}

.align-top {
  margin-top: 0;
  margin-bottom: auto;
}

.bg-full {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.home-hero {
  width: 100%;
  position: relative;
}
.home-hero-cont {
  width: 100%;
  height: 100vh;
  max-width: 1158px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
}

@media (max-width: 768px) {
  .home-hero-cont {
    padding: 32px 0px !important;
  }
  .home-hero .home-section-title {
    align-items: flex-end;
  }
  .home-hero .home-section-title .fs-14 {
    font-size: 14px;
  }
  .home-hero .home-section-title .fs-20 {
    font-size: 20px;
  }
  .home-hero-mobile-hidden {
    display: none !important;
  }
}
.home-section-two {
  width: 100%;
  position: relative;
  padding: 0;
}
.home-section-two-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  height: 100vh;
  max-height: 810px;
}
.home-section-two .home-section-half {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

@media (max-width: 768px) {
  .home-section-two-cont {
    height: auto;
    max-height: none;
  }
  .home-section-two .home-section-half {
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 480px) {
  .home-section-two .fs-14 {
    font-size: 12px;
  }
  .home-section-two .fs-20 {
    font-size: 16px;
  }
}
.home-section-three {
  width: 100%;
  position: relative;
}
.home-section-three-cont {
  width: 100%;
  height: 100vh;
  max-height: 810px;
  max-width: 1158px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 0;
}

@media (max-width: 768px) {
  .home-section-three-cont {
    padding: 32px 0px !important;
  }
  .home-section-three .home-section-title .fs-14 {
    font-size: 14px;
  }
  .home-section-three .home-section-title .fs-20 {
    font-size: 20px;
  }
}
.home-section-four {
  width: 100%;
  position: relative;
  padding: 0;
}
.home-section-four .home-section-thirds {
  position: relative;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 0;
  padding-bottom: 72px;
}

@media (max-width: 768px) {
  .home-section-four .home-section-thirds {
    min-height: 400px;
    justify-content: center;
  }
  .home-section-four .home-section-half-wrapper {
    margin-top: auto;
    margin-bottom: 0;
  }
  .home-section-four .home-section-half-wrapper .fs-14 {
    font-size: 12px;
  }
  .home-section-four .home-section-half-wrapper .fs-20 {
    font-size: 14px;
  }
}
.home-section-five {
  width: 100%;
  position: relative;
}
.home-section-five-cont {
  width: 100%;
  height: 100vh;
  max-height: 810px;
  max-width: 1158px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 0;
}

.brand-hero-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  max-width: 926px;
}

@media (max-width: 768px) {
  .brand-hero {
    padding: 32px 16px 72px;
  }
  .brand-hero .fs-18 {
    font-size: 14px;
  }
  .brand-hero .fs-24 {
    font-size: 18px;
  }
}
.image-full {
  padding: 0px 24px;
}
.image-full-cont .img-full {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .image-full {
    padding: 16px;
  }
  .image-full-cont .img-full {
    width: 100%;
    min-height: 343px;
    object-fit: cover;
    object-position: 30% 50%;
  }
}
.body-copy-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 48px;
}
.body-copy-title {
  width: 35%;
  max-width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.body-copy-content {
  width: 65%;
  max-width: 810px;
}

@media (max-width: 768px) {
  .body-copy {
    padding: 16px 16px 32px;
  }
  .body-copy .fs-32 {
    font-size: 28px;
  }
  .body-copy-cont {
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
  }
  .body-copy-title,
  .body-copy-content {
    width: 100%;
    align-items: flex-start;
  }
}
.image-half {
  padding: 0px 24px;
}
.image-half-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 8px;
}
.image-half-cont .img-half {
  width: 50%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .image-half {
    padding: 32px 16px;
  }
  .image-half-cont {
    gap: 2px;
  }
  .image-half-cont .img-half {
    height: 343px;
    object-fit: cover;
  }
}
.content-blocks {
  padding: 24px;
}
.content-blocks-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
}
.content-blocks-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 0;
}
.content-blocks-item.flex-row-rvs {
  flex-direction: row-reverse;
}
.content-blocks-img {
  width: 50%;
  object-fit: cover;
}
.content-blocks-content {
  width: 50%;
  padding: 160px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.content-blocks-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  max-width: 496px;
}

@media (max-width: 768px) {
  .content-blocks {
    padding: 0px;
  }
  .content-blocks-content {
    padding: 48px 32px;
  }
}
@media (max-width: 640px) {
  .content-blocks-item {
    flex-direction: column;
  }
  .content-blocks-item.flex-row-rvs {
    flex-direction: column;
  }
  .content-blocks-img, .content-blocks-content {
    width: 100%;
    padding: 0 16px;
  }
  .content-blocks-content {
    padding: 32px 16px;
  }
}
.contact {
  padding: 140px 24px 76px;
}
.contact-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
}
.contact-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 80px;
  width: 100%;
}
.contact-main-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 64px;
  width: 100%;
  max-width: 574px;
}
.contact-main-form {
  width: 100%;
  max-width: 574px;
}
.contact-address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.contact-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
.contact-list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.contact-form {
  padding: 24px;
  border: 1px solid #e3e3e3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 32px;
}
.contact-form-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;
}
.contact-form input,
.contact-form textarea {
  padding: 14px;
  border: 1px solid #e3e3e3;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: rgba(17, 17, 17, 0.6);
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: rgba(17, 17, 17, 0.5);
}
.contact-form textarea {
  height: 135px;
}

@media (max-width: 768px) {
  .contact {
    padding: 72px 24px;
  }
  .contact-cont {
    align-items: center;
    gap: 24px;
  }
  .contact-main {
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
  .contact-main-details {
    align-items: center;
    gap: 24px;
  }
  .contact-address {
    align-items: center;
  }
  .contact-address p,
  .contact-address span {
    text-align: center;
  }
  .contact-list {
    gap: 8px;
    align-items: center;
  }
}
.legal-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  max-width: 926px;
}
.legal-head {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  text-align: center;
}
.legal-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
.legal-main p {
  font-size: 18px !important;
  font-weight: 400;
  color: rgba(17, 17, 17, 0.5);
  line-height: 140%;
}
.legal-main li {
  list-style: disc;
  margin-left: 24px;
  margin-top: 2px;
}
.legal-main h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
}
.legal-main h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.membership-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  max-width: 460px;
  display: none;
  opacity: 0;
  transition: all 0.5s ease;
}
.membership-cont.form-active {
  display: flex;
  opacity: 1;
  transition: all 0.5s ease;
}
.membership-head {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.membership-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;
}
.membership-form form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;
}
.membership-form label {
  display: none;
}
.membership-form input {
  padding: 14px;
  width: 100%;
  border: none;
  font-size: 14px;
  font-weight: 400;
}
.membership-form input:focus, .membership-form input:active {
  border: none;
  outline: none;
}
.membership-form input::placeholder {
  color: rgba(17, 17, 17, 0.5);
}
.membership-form .input-wrapper {
  width: 100%;
  position: relative;
  border: 1px solid #e3e3e3;
}
.membership-form .input-wrapper input[type=password] {
  max-width: 280px;
}
.membership-form .btn-form-submit {
  margin-top: 16px;
  margin-bottom: 16px;
}
.membership-form .form-recover-pw {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.customer-account-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 64px;
}
.customer-account-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 80px;
}
.customer-account-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 64px;
}
.customer-account-main-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  width: 320px;
  flex-shrink: 0;
}
.customer-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.customer-address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.customer-address .address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
}
.customer-order {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;
  width: 100%;
}
.customer-order-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.customer-order ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 24px 0;
  border-top: 1px solid #e3e3e3;
}
.customer-order ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.customer-order ul img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  flex-shrink: 0;
}
.customer-order-item-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.customer-order-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e3e3e3;
  width: 100%;
}
.customer-order-history {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

@media (max-width: 768px) {
  .customer-account-main {
    flex-direction: column-reverse;
  }
}
@media (max-width: 640px) {
  .customer-order ul img {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 480px) {
  .customer-order ul img {
    width: 120px;
    height: 120px;
  }
  .customer-account-cont {
    gap: 24px;
  }
  .customer-account-head {
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
  }
}
.product-main {
  padding: 0px;
}
.product-main-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0px;
  max-width: 1920px;
}
.product-main-gallery, .product-main-content {
  width: 50%;
}
.product-main-gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0px;
}
.product-main-gallery img {
  max-width: 100%;
}
.product-main-slider {
  display: none;
}
.product-main-content {
  padding: 120px 5vw;
  max-width: 720px;
  margin: auto;
  margin-top: 0;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 32px;
}
.product-main-content .product-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.product-main-content form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 32px;
}

@media (max-width: 768px) {
  .product-main-cont {
    flex-direction: column;
  }
  .product-main-gallery {
    width: 100%;
    display: none;
  }
  .product-main-content {
    width: 100%;
    padding: 72px 16px;
    padding-top: 16px;
  }
  .product-main-slider {
    display: block;
    max-width: 100%;
    padding: 16px;
  }
  .gallery-wrapper {
    width: 100%;
    position: relative;
  }
  .swiper-product {
    width: 100%;
    height: 640px;
  }
  .swiper-product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-thumbs {
    margin-top: 8px;
    height: 160px;
    max-width: 100%;
  }
  .swiper-thumbs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }
  .swiper-button-next,
  .swiper-button-prev {
    padding: 8px;
    width: 36px;
    height: 36px;
    background-color: #ffffff;
    border-radius: 100%;
    filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.05));
  }
}
@media (max-width: 480px) {
  .product-main-slider {
    padding: 32px 16px 16px;
  }
  .product-main-content {
    padding-top: 0px;
  }
  .product-main .swiper-product {
    height: 360px;
  }
  .product-main .swiper-thumbs {
    height: 103px;
  }
}
.product-variant {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;
}
.product-variant-size-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.product-variant-size-head button {
  background-color: transparent;
  border: none;
}
.product-variant-size-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
.product-variant-size-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #999999;
  border: 1px solid #e3e3e3;
  position: relative;
}
.product-variant-size-item label {
  padding: 14px;
  cursor: pointer;
}
.product-variant-size-item input {
  position: absolute;
  opacity: 0;
}
.product-variant-size-item:has(input:checked) {
  color: #111111;
  border: 1px solid #111111;
}

.product-quantity {
  border: 1px solid #e3e3e3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  width: fit-content;
}
.product-quantity > * {
  width: 45px;
  height: 45px;
  border: none;
  background: #ffffff;
}
.product-quantity button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  cursor: pointer;
}
.product-quantity input {
  text-align: center;
  font-weight: 500;
  font-size: 14;
  color: #111111;
}
.product-quantity input:focus, .product-quantity input:active {
  border: none;
  outline: none;
}

@media (max-width: 640px) {
  .product-quantity > * {
    width: 36px;
    height: 36px;
  }
}
@media (max-width: 480px) {
  .product-quantity > * {
    width: 32px;
    height: 32px;
  }
}
.product-accordion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
}
.product-accordion-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  border-bottom: 1px solid #e3e3e3;
}
.product-accordion-item.active .product-accordion-content {
  margin-bottom: 16px;
  transition: all 0.3s ease;
}
.product-accordion-item svg {
  transform: rotate(0deg);
  transition: all 0.3s ease;
}
.product-accordion-item.active svg {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}
.product-accordion-head {
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.product-accordion-content {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: rgba(17, 17, 17, 0.5);
  max-height: 0px;
  overflow: hidden;
  margin-bottom: 0px;
  transition: all 0.3s ease;
}

.product-chart {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  display: none;
}
.product-chart.chart-show {
  display: flex;
}
.product-chart-cont {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  max-width: 100%;
}
.product-chart-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 24px 32px;
  border-bottom: 1px solid #e3e3e3;
}
.product-chart-close {
  background-color: #fff;
  border: none;
}
.product-chart-main {
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  overflow-x: scroll;
}
.product-chart-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  border-right: 1px solid #999;
}
.product-chart-col:first-child {
  border-left: 1px solid #999;
}
.product-chart-item {
  width: 120px;
  padding: 24px 16px;
  border-bottom: 1px solid #999999;
}
.product-chart-item:first-child {
  border-top: 1px solid #999;
  font-weight: 600;
}

.cart {
  width: 100%;
}
.cart-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 32px;
  width: 100%;
}
.cart-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
}
.cart-content p, .cart-content span {
  width: fit-content;
}
.cart-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px;
  width: 100%;
}
.cart-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
}
.cart-block.head {
  border-bottom: 1px solid #e3e3e3;
}
.cart-block.head div {
  padding: 16px;
}
.cart-block-title {
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.cart-block-title img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.cart-block-quantity {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.cart-block-total {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.cart-block-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.cart-summary {
  width: 40%;
  max-width: 460px;
  flex-shrink: 0;
  padding: 24px;
  border: 1px solid #e3e3e3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px;
}
.cart-summary-head {
  padding-bottom: 24px;
  border-bottom: 1px solid #e3e3e3;
}
.cart-summary-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px;
}
.cart-summary-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
}

@media (max-width: 1024px) {
  .cart-content {
    flex-direction: column;
  }
  .cart-summary {
    width: 100%;
    max-width: none;
  }
}
@media (max-width: 640px) {
  .cart-block {
    justify-content: space-between;
  }
  .cart-block.head {
    display: none;
  }
  .cart-block-total {
    display: none;
  }
  .cart-block-title {
    width: 100%;
  }
  .cart-block-title img {
    height: 150px;
    width: 150px;
  }
}
@media (max-width: 480px) {
  .cart-block-title img {
    height: 100px;
    width: 100px;
  }
}
.collection {
  position: relative;
  padding-top: 64px;
  padding-bottom: 64px;
}
.collection-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0px;
}
.collection-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  border-bottom: 1px solid #e3e3e3;
}
.collection-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  flex-wrap: wrap;
  padding-top: 24px;
}
.collection-title, .collection-amount, .collection-filter {
  width: 33%;
}
.collection-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0px;
}
.collection-filter .btn-filter-trigger {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  border: none;
  cursor: pointer;
}
.collection-product {
  width: calc(33% - 4px);
  position: relative;
  aspect-ratio: 23/31;
  overflow: hidden;
}
.collection-product-link-anchor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.collection-product-anchor {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 12px;
  background-color: #ffffff;
}
.collection-product-anchor svg {
  transform: rotate(0deg);
  transition: all 0.3s ease;
}
.collection-product-anchor:hover svg {
  transform: rotate(90deg);
  transition: all 0.4s ease;
}
.collection-product .img-product-link {
  cursor: pointer;
}
.collection-product img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: all 0.5s ease;
  opacity: 1;
}
.collection-product img.hover-image {
  opacity: 0;
}
.collection-product:hover img.hover-image {
  opacity: 1;
}
.collection-product:hover img.featured-image {
  opacity: 0;
}
.collection-product-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  bottom: -100px;
  left: 8px;
  right: 8px;
  top: auto;
  background-color: #ffffff;
  padding: 16px;
  opacity: 0;
  transition: all 0.5s ease;
}
.collection-product:hover .collection-product-details {
  bottom: 8px;
  opacity: 1;
  transition: all 0.5s ease;
}
.collection-product-mobile {
  display: none;
}
.collection-product-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 50%;
}
.collection-product-variant {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
  width: 50%;
  flex-wrap: wrap;
}
.collection-product .variant-button {
  font-weight: 400;
  font-size: 16px;
  color: rgba(17, 17, 17, 0.5);
  background-color: none;
  background: none;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
}
.collection-product .variant-button:hover {
  color: #111111;
  text-decoration: underline;
  transition: all 0.2s ease;
}
.collection-popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
  z-index: 999999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}
.collection-popup.popup-active {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.2s ease;
}
.collection-popup-filter {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 64px;
  width: 600px;
  background-color: #ffffff;
  max-height: 100%;
}
.collection-popup-filter-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 14px;
}
.collection-popup-filter-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
}

@media (max-width: 768px) {
  .collection {
    padding-top: 32px;
  }
  .collection-product:hover img.hover-image {
    opacity: 0;
  }
  .collection-product:hover img.featured-image {
    opacity: 1;
  }
  .collection-product-details {
    display: none;
  }
  .collection-head {
    gap: 8px;
    position: sticky;
    z-index: 99;
    top: 56px;
    background-color: white;
  }
  .collection-title {
    width: fit-content;
  }
  .collection-title h1 {
    font-size: 24px;
    white-space: nowrap;
  }
  .collection-amount {
    white-space: nowrap;
  }
  .collection-filter {
    width: 100%;
  }
  .collection-filter #filter-show {
    padding: 16px 0;
  }
  .collection-product {
    width: calc(50% - 4px);
  }
}
@media (max-width: 640px) {
  .collection-popup-filter {
    height: 100%;
    width: 100%;
    gap: 40px;
  }
  .collection-popup-filter-head {
    padding: 0px;
  }
}
@media (max-width: 480px) {
  .collection-product-anchor {
    padding: 8px;
  }
}
.filter-variant {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;
  border-bottom: 1px solid #e3e3e3;
}
.filter-variant:last-child {
  border: none;
}
.filter-variant-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.filter-variant-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding-right: 75px;
  padding-top: 16px;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}
.filter-variant-list:has(.list-size) {
  gap: 8px;
}
.filter-variant-list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: calc(50% - 12px);
}
.filter-variant-list-item input {
  display: none;
}
.filter-variant-list-item.hidden {
  display: none;
}
.filter-variant-list-item .filter-active-indicator {
  opacity: 0;
  width: 16px;
  height: 16px;
  transition: all 0.2s ease;
}
.filter-variant-list-item:has(input[type=checkbox]:checked) .filter-active-indicator {
  opacity: 1;
  transition: all 0.2s ease;
}
.filter-variant-list-item:has(label.size) {
  width: fit-content;
}
.filter-variant-list-item:has(label.size) .filter-active-indicator {
  display: none;
}
.filter-variant-list-item .size {
  border: 1px solid #E3E3E3;
  color: #999;
  padding: 14px;
}
.filter-variant-list-item .size:has(input[type=checkbox]:checked) {
  border: 1px solid #111111;
  color: #111111;
}

@media (max-width: 480px) {
  .filter-variant-list {
    padding-right: 0px;
  }
}
.btn-variant {
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn-variant span {
  border-bottom: 1px solid transparent;
}
.btn-variant:hover span {
  border-bottom: 1px solid #111111;
  transition: all 0.5s ease;
}

.popup-filter-form {
  max-height: 100%;
  overflow: scroll;
  margin-bottom: 32px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.popup-filter-form::-webkit-scrollbar {
  display: none;
}
.popup-filter-form details {
  border-bottom: 1px solid #E3E3E3;
  padding: 32px 0;
  position: relative;
}
.popup-filter-form details:last-child {
  border: none;
}
.popup-filter-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 80px;
  padding-top: 32px;
}

.color-indicator {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  flex-shrink: 0;
}

.show-more-btn {
  position: absolute;
  bottom: 0;
  right: -75px;
  color: #999999;
  text-decoration: underline;
  font-size: 14px;
  line-height: 120%;
}

@media (max-width: 480px) {
  .show-more-btn {
    margin-top: 16px;
    position: relative;
    right: 0px;
  }
}
.filter-current:hover {
  color: #111111;
}

.filter-current-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.form-sort select, .form-sort option {
  background-color: #fff;
  border: 1px solid #E3E3E3;
}

.switch {
  display: block;
  padding: 2px;
  width: 28px !important;
  height: 16px;
  background-color: #d9d9d9;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}
.switch-toggle {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 100%;
  border: none;
  transform: translateX(0px);
  transition: all 0.2s ease;
}
.switch:has(input[type=checkbox]:checked) .switch-toggle {
  transform: translateX(12px);
  transition: all 0.2s ease;
}
.switch-avail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.switch-cbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown.open .dropdown-options {
  display: block;
}
.dropdown-trigger {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  background: #fff;
}
.dropdown-options {
  display: none;
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 10000000;
  width: 200px;
  right: 0;
  padding: 16px 8px;
}
.dropdown-options .dropdown-option {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}
.dropdown-options .dropdown-option:hover {
  background: #f0f0f0;
}
.dropdown-options .selected {
  text-decoration: underline;
}

.sort-mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: none;
}
.sort-mobile.open {
  display: block;
}
.sort-mobile-hide-btn {
  position: absolute;
  right: 24px;
  bottom: 16px;
}

.dropdown-mobile {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
}
.dropdown-mobile-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
  padding: 16px;
  border-bottom: 1px solid #ccc;
}
.dropdown-mobile-options {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
}
.dropdown-mobile-options .selected {
  text-decoration: underline;
}
.dropdown-mobile-option {
  padding: 8px;
  font-size: 12px;
}

/*# sourceMappingURL=main.css.map */
