@use "../abstracts" as *;
@use "../base" as *;
@use "../components" as *;
@use "../layout" as *;


.collection {
  position: relative;
  padding-top: 64px;
  padding-bottom: 64px;

  &-cont {
    @include flex-box(column, flex-start, stretch, 0px);
  }
  &-head {
    @include flex-box(row, space-between, center, 0px);
    border-bottom: 1px solid #e3e3e3;
  }
  &-main {
    @include flex-box(row, flex-start, flex-start, 8px);
    flex-wrap: wrap;
    padding-top: 24px;
  }
  &-title,
  &-amount,
  &-filter {
    width: 33%;
  }
  &-filter {
    @include flex-box(row, flex-end, center, 0px);

    .btn-filter-trigger {
      @include flex-box(row, center, center, 8px);
      padding: 16px;
      background-color: transparent;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      border: none;
      cursor: pointer;
    }
  }
  &-product {
    width: calc(33% - 4px);
    position: relative;
    aspect-ratio: 23 / 31;
    overflow: hidden;

    &-link-anchor {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &-anchor {
      position: absolute;
      top: 8px;
      right: 8px;
      padding: 12px;
      background-color: #ffffff;
      
      svg {
        transform: rotate(0deg);
        transition: all .3s ease;
      }
      &:hover svg {
        transform: rotate(90deg);
        transition: all .4s ease;
      }
    }
    .img-product-link {
      cursor: pointer;
    }
    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      transition: all .5s ease;
      opacity: 1;
    }
    & img.hover-image {
      opacity: 0;
    }
    
    &:hover img.hover-image {
      opacity: 1;
    }
    
    &:hover img.featured-image {
      opacity: 0;
    }
    &-details {
      @include flex-box(row, space-between, flex-start, 16px);
      position: absolute;
      bottom: -100px;
      left: 8px;
      right: 8px;
      top: auto;
      background-color: #ffffff;
      padding: 16px;
      opacity: 0;
      transition: all .5s ease;
    }
    &:hover .collection-product-details {
      bottom: 8px;
      opacity: 1;
      transition: all .5s ease;
    }
    &-mobile {
      display: none;
    }
    &-title {
      @include flex-box(column, flex-start, flex-start, 10px);
      width: 50%;
    }
    &-variant {
      @include flex-box(row, flex-end, flex-start, 8px);
      width: 50%;
      flex-wrap: wrap;
    }
    .variant-button {
      font-weight: 400;
      font-size: 16px;
      color: rgba(17, 17, 17, 0.5);
      background-color: none;
      background: none;
      border: none;
      transition: all .2s ease;
      cursor: pointer;

      &:hover {
        color: #111111;
        text-decoration: underline;
        transition: all .2s ease;
      }
    }
  }
  &-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(1px);
    z-index: 999999;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease;

    &.popup-active {
      opacity: 1;
      pointer-events: auto;
      transition: opacity .2s ease;
    }
    &-filter {
      position: absolute;
      top: 0;
      right: 0;
      padding: 16px 24px;
      @include flex-box(column, flex-start, stretch, 64px);
      width: 600px;
      background-color: #ffffff;
      max-height: 100%;

      &-head {
        @include flex-box(row, space-between, center, 32px);
        padding: 14px;
      }
      &-list {
        @include flex-box(column, flex-start, stretch, 0);
      }
    }
  }
}
@media(max-width: 768px) {
  .collection {
    padding-top: 32px;

    &-product {

      &:hover img.hover-image {
        opacity: 0;
      }
      &:hover img.featured-image {
        opacity: 1;
      }
      &-details {
        display: none;
      }
      // &-mobile {
      //   @include flex-box(column, flex-start, center, 8px);
      //   background-color: #fff;
      //   position: absolute;
      //   bottom: 0;
      //   left: 0;
      //   right: 0;
      //   top: auto;
      //   padding: 12px;
      //   padding-bottom: 24px;
      // }
    }
    &-head {
      gap: 8px;
      position: sticky;
      z-index: 99;
      top: 56px;
      background-color: white;
    }
    &-title {
      width: fit-content;

      h1 {
        font-size: 24px;
        white-space: nowrap;
      }
    }
    &-amount {
      white-space: nowrap;
    }
    &-filter {
      width: 100%;

      #filter-show {
        padding: 16px 0;
      }
    }
    &-product {
      width: calc(50% - 4px); 
    }
  }
}
@media(max-width: 640px) {
  .collection-popup-filter {
    height: 100%;
    width: 100%;
    gap: 40px;

    &-head {
      padding: 0px;
    }
  }
}
@media(max-width: 480px) {
  .collection-product-anchor {
    padding: 8px;
  }
}

.filter-variant {
  padding: 32px 0;
  @include flex-box(column, flex-start, stretch, 16px);
  border-bottom: 1px solid #e3e3e3;

  &:last-child {
    border: none;
  }
  &-head {
    @include flex-box(row, space-between, center, 32px);
  }
  &-list {
    @include flex-box(row, flex-start, flex-start, 24px);
    padding-right: 75px;
    padding-top: 16px;
    flex-wrap: wrap;
    position: relative;
    width: 100%;

    &:has(.list-size) {
      gap: 8px;
    }

    &-item {
      @include flex-box(row, flex-start, center, 8px);
      width: calc(50% - 12px);

      input {
        display: none;
      }
      &.hidden {
        display: none;
      }
      .filter-active-indicator {
        opacity: 0;
        width: 16px;
        height: 16px;
        transition: all .2s ease;
      }
      &:has(input[type="checkbox"]:checked) .filter-active-indicator{
        opacity: 1;
        transition: all .2s ease;
      }
      &:has(label.size) {
        width: fit-content;

        .filter-active-indicator {
          display: none;
        }
      }
      & .size {
        border: 1px solid #E3E3E3;
        color: #999;
        padding: 14px;

        &:has(input[type="checkbox"]:checked) {
          border: 1px solid #111111;
          color: #111111;
        }
      }
    }
  }
  
}
@media(max-width: 480px) {
  .filter-variant-list {
    padding-right: 0px;
  }
}
.btn-variant {
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  border: none;
  cursor: pointer;
  transition: all .2s ease;
  
  span {
    border-bottom: 1px solid transparent;
  }
  &:hover span{
    border-bottom: 1px solid #111111;
    transition: all .5s ease;
  }
}

.popup-filter {

  &-form {
    max-height: 100%;
    overflow: scroll;
    margin-bottom: 32px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
    details {
      border-bottom: 1px solid #E3E3E3;
      padding: 32px 0;
      position: relative;

      &:last-child {
        border: none;
      }
    }
  }
  &-action {
    @include flex-box(row, space-between, flex-end, 80px);
    padding-top: 32px;
  }
  
}
.color-indicator {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  flex-shrink: 0;
}
.show-more-btn {
  position: absolute;
  bottom: 0;
  right: -75px;
  color: #999999;
  text-decoration: underline;
  font-size: 14px;
  line-height: 120%;
}
@media(max-width: 480px) {
  .show-more-btn {
    margin-top: 16px;
    position: relative;
    right: 0px;
  }

}
.filter-current:hover {
  color: #111111;
}
.filter-current-wrapper {
  @include flex-box(row, flex-start, center, 16px);
}
.form-sort {

  select, option {
    background-color: #fff;
    border: 1px solid #E3E3E3;
  }
}

.switch {
  display: block;
  padding: 2px;
  width: 28px !important;
  height: 16px;
  background-color: #d9d9d9;
  border-radius: 100px;
  position: relative;
  cursor: pointer;

  &-toggle {
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border-radius: 100%;
    border: none;
    transform: translateX(0px);
    transition: all .2s ease;
  }
  &:has(input[type="checkbox"]:checked) .switch-toggle{
    transform: translateX(12px);
    transition: all .2s ease;
  }
  &-avail {
    @include flex-box(row, center, center, 8px);
    cursor: pointer;
  }
  &-cbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }
}

.dropdown {
  position: relative;
  display: inline-block;

  &.open .dropdown-options {
    display: block;
  }
  &-trigger {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    background: #fff;
  }
  &-options {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    z-index: 10000000;
    width: 200px;
    right: 0;
    padding: 16px 8px;

    .dropdown-option {
      padding: 10px;
      cursor: pointer;
      font-size: 14px;
    }
    .dropdown-option:hover {
      background: #f0f0f0;
    }
    .selected {
      text-decoration: underline;
    }
  }
}
// @media(max-width: 480px) {
//   .dropdown {
//     display: none;
//   }
// }

.sort-mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: 9999;
  display: none;

  &.open {
    display: block;
  }
  &-hide-btn {
    position: absolute;
    right: 24px;
    bottom: 16px;
  }
}
.dropdown-mobile {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;

  &-title   {
    @include flex-box(row, center, center, 0);
    position: relative;
    padding: 16px;
    border-bottom: 1px solid #ccc;
  }
  &-options {
    padding: 16px;
    @include flex-box(column, flex-start, flex-start, 0px);

    .selected {
      text-decoration: underline;
    }
  }
  &-option {
    padding: 8px;
    font-size: 12px;
  }
}