@use "../abstracts" as *;
@use "../base" as *;
@use "../components" as *;
@use "../layout" as *;

.contact {
  padding: 140px 24px 76px;

  &-cont {
    @include flex-box(column, flex-start, flex-start, 32px);
  }
  &-main {
    @include flex-box(row, space-between, flex-end, 80px);
    width: 100%;
    
    &-details {
      @include flex-box(column, flex-start, flex-start, 64px);
      width: 100%;
      max-width: 574px;
    }
    &-form {
      width: 100%;
      max-width: 574px;
    }
  }
  &-address {
    @include flex-box(column, flex-start, flex-start, 8px);
  }
  &-list {
    @include flex-box(column, flex-start, flex-start, 24px);

    &-item {
      @include flex-box(row, flex-start, flex-start, 8px);
    }
  }
  &-form {
    padding: 24px;
    border: 1px solid #e3e3e3;
    @include flex-box(column, flex-start, stretch, 32px);

    &-input-wrapper {
      @include flex-box(column, flex-start, stretch, 16px);
    }
    input,
    textarea {
      padding: 14px;
      border: 1px solid #e3e3e3;
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      color: rgba(17, 17, 17, 0.6);

      &::placeholder {
        color: rgba(17, 17, 17, 0.5);
      }
    }
    textarea {
      height: 135px;
    }
  }
}
@media (max-width: 768px) {
  .contact {
    padding: 72px 24px;

    &-cont {
      align-items: center;
      gap: 24px;
    }
    &-main {
      flex-direction: column;
      align-items: center;
      gap: 48px;

      &-details {
        align-items: center;
        gap: 24px;
      }
    }
    &-address {
      align-items: center;

      p,
      span {
        text-align: center;
      }
    }
    &-list {
      gap: 8px;
      align-items: center;
    }
  }
}