@use "../abstracts" as *;
@use "../base" as *;
@use "../components" as *;
@use "../layout" as *;

.home-section-title {
  @include flex-box(row, space-between, center, 8px);
  position: relative;
  width: 100%;
  z-index: 2;
  
  .home-btn {
    @include flex-box(column, center, flex-start, 8px);
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;

    &::after {
      content: '';
      display: block;
      background-color: #fff;
      width: 0%;
      height: 1px;
      position: absolute;
      bottom: -8px;
      transition: all .1s ease-out;
    }
    &:hover::after {
      width: 100%;
      transition: all .2s ease-out;
    }
    &.items-center {
      align-items: center;
      text-align: center;
    }
    &.align-bottom {
      margin-top: auto;
      margin-bottom: 0;
    }
    &.align-top {
      margin-top: 0;
      margin-bottom: auto;
    }
    &.align-right {
      align-items: flex-end;
    }
  }
  &.items-center {
    justify-content: center;
  }
}
.items-center {
  align-items: center;
  text-align: center;
}
.align-bottom {
  margin-top: auto;
  margin-bottom: 0;
}
.align-top {
  margin-top: 0;
  margin-bottom: auto;
}
.bg-full{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.home-hero {
  width: 100%;
  position: relative;

  &-cont {
    width: 100%;
    height: 100vh;
    max-width: 1158px;
    @include flex-box(row, space-between, stretch, 0);
  }
}
@media(max-width: 768px) {
  .home-hero {
    &-cont {
      padding: 32px 0px !important;
    }
    .home-section-title {
      align-items: flex-end;

      .fs-14 {
        font-size: 14px;
      }
      .fs-20 {
        font-size: 20px;
      }
    }
    &-mobile-hidden {
      display: none !important;
    }
  }
}


.home-section-two {
  width: 100%;
  position: relative;
  padding: 0;

  &-cont {
    @include flex-box(row, space-between, stretch, 0);
    height: 100vh;
    max-height: 810px;
  }
  .home-section-half {
    position: relative;
    width: 50%;
    height: 100%;
    @include flex-box(column, center, center, 0);
  }
}
@media(max-width: 768px) {
  .home-section-two {
    &-cont {
      height: auto;
      max-height: none;
    }
    .home-section-half {
      width: 100%;
      height: 400px;
    }
  }
}
@media(max-width: 480px) {
  .home-section-two {
    .fs-14 {
      font-size: 12px;
    }
    .fs-20 {
      font-size: 16px;
    }
  }
}

.home-section-three {
  width: 100%;
  position: relative;

  &-cont {
    width: 100%;
    height: 100vh;
    max-height: 810px;
    max-width: 1158px;
    @include flex-box(row, center, stretch, 0);
  }
}
@media(max-width: 768px) {
  .home-section-three {
    &-cont {
      padding: 32px 0px !important;
    }
    .home-section-title {
      .fs-14 {
        font-size: 14px;
      }
      .fs-20 {
        font-size: 20px;
      }
    }
  }
}

.home-section-four {
  width: 100%;
  position: relative;
  padding: 0;

  .home-section-thirds {
    position: relative;
    flex: 1;
    height: 100%;
    @include flex-box(column, flex-end, center, 0);
    padding-bottom: 72px;
  }
}
@media(max-width: 768px) {
  .home-section-four {
    .home-section-thirds {
      min-height: 400px;
      justify-content: center;
    }
    .home-section-half-wrapper {
      margin-top: auto;
      margin-bottom: 0;

      .fs-14 {
        font-size: 12px;
      }
      .fs-20 {
        font-size: 14px;
      }
    }
  }
}

.home-section-five {
  width: 100%;
  position: relative;

  &-cont {
    width: 100%;
    height: 100vh;
    max-height: 810px;
    max-width: 1158px;
    @include flex-box(row, center, stretch, 0);
  }
}