@use "../abstracts" as *;
@use "../base" as *;
@use "../components" as *;
@use "../layout" as *;

.legal {

  &-cont {
    @include flex-box(column, flex-start, center, 32px);
    max-width: 926px;
  }
  &-head {
    @include flex-box(column, flex-start, center, 16px);
    text-align: center;
  }
  &-main {
    @include flex-box(column, flex-start, flex-start, 24px);

    p {
      font-size: 18px !important;
      font-weight: 400;
      color: rgba(17, 17, 17, 0.5);
      line-height: 140%;
    }
    li {
      list-style: disc;
      margin-left: 24px;
      margin-top: 2px;
    }
    h3 {
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
    }
    h4 {
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
    }
  }
}