@use "../abstracts" as *;
@use "../base" as *;
@use "../components" as *;
@use "../layout" as *;


.membership {

  &-cont {
    @include flex-box(column, flex-start, center, 32px);
    max-width: 460px;
    display: none;
    opacity: 0;
    transition: all .5s ease;

    &.form-active {
      display: flex;
      opacity: 1;
      transition: all .5s ease;
    }
  }
  &-head {
    @include flex-box(column, flex-start, center, 16px);
  }
  &-form {
    width: 100%;
    @include flex-box(column, flex-start, stretch, 16px);

    form {
      @include flex-box(column, flex-start, stretch, 16px);
    }
    label {
      display: none;
    }
    input {
      padding: 14px;
      width: 100%;
      border: none;
      font-size: 14px;
      font-weight: 400;

      &:focus,
      &:active {
        border: none;
        outline: none;
      }
      &::placeholder {
        color: rgba(17, 17, 17, 0.5);
      }
    }
    .input-wrapper {
      width: 100%;
      position: relative;
      border: 1px solid #e3e3e3;

      input[type="password"] {
        max-width: 280px;
      }
    }
    .btn-form-submit {
      margin-top: 16px;
      margin-bottom: 16px;
    }
    .form-recover-pw {
      position: absolute;
      right: 14px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}

.customer {
  &-account {
    &-cont {
      @include flex-box(column, flex-start, stretch, 64px);
    }
    &-head {
      @include flex-box(row, space-between, flex-end, 80px);
    }
    &-main {
      @include flex-box(row, space-between, flex-start, 64px);

      &-details {
        @include flex-box(column, flex-start, flex-start, 32px);
        width: 320px;
        flex-shrink: 0;
      }
    }
  }
  &-name {
    @include flex-box(column, flex-start, flex-start, 8px);
  }
  &-address {
    @include flex-box(column, flex-start, flex-start, 16px);

    .address {
      @include flex-box(column, flex-start, flex-start, 4px);
    }
  }
  &-order {
    @include flex-box(column, flex-start, stretch, 16px);
    width: 100%;

    &-info {
      @include flex-box(column, flex-start, flex-start, 8px);
    }
    ul {
      @include flex-box(column, flex-start, flex-start, 16px);
      padding: 24px 0;
      border-top: 1px solid #e3e3e3;

      li {
        @include flex-box(row, flex-start, center, 16px);
      }

      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        flex-shrink: 0;
      }
    }
    &-item-details {
      @include flex-box(column, flex-start, flex-start, 16px);
    }
    &-details {
      @include flex-box(row, space-between, center, 16px);
      padding-bottom: 24px;
      border-bottom: 1px solid #e3e3e3;
      width: 100%;
    }
    &-history {
      @include flex-box(column, flex-start, flex-start, 16px);
      width: 100%;
    }
  }
}
@media(max-width: 768px) {
  .customer-account-main {
    flex-direction: column-reverse;
  }
}
@media(max-width: 640px) {
  .customer-order ul img {
    width: 160px;
    height: 160px;
  }
}
@media(max-width: 480px) {
  .customer-order ul img {
    width: 120px;
    height: 120px;
  }
  .customer-account-cont {
    gap: 24px;
  }
  .customer-account-head {
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
  }
}