@use "../abstracts" as *;
@use "../base" as *;
@use "../components" as *;
@use "../layout" as *;

.basic-hero{
    background: linear-gradient(180deg, rgba(250, 241, 242, 0.00) 0%, #FAF1F2 100%), #FFF;
    .container{
        padding-top: 100px;
        .basic-category-content{
            &_wrapper{
            @include flex-box(row, center, center, 8px);
            &-text{
                @include flex-box(column, center, center, 24px);
                .title-basic{
                    color: #274250!important;
                }
                .basic-category-display{
                    &_title{
                        color: rgba(39, 66, 80, 0.60);
                        font-family: Poppins;
                        font-size: 64px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 110%; /* 96.8px */
                        letter-spacing: -0.88px;
                        text-align: center;
                        max-width: 1040px;
                        span{
                            color: #274250;
                        }
                    }
                    &_paragraft{
                        color: rgba(39, 66, 80, 0.80);
                        font-family: Poppins;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%; /* 25.2px */
                        letter-spacing: -0.18px;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
            &-image{
                @include flex-box(column, start, flex-start, 16px);
            }
            }
        }

    }
    }

@media(max-width: 768px) {
    .product-category-display_title{
        font-size: 36px!important;
    }
    .product-category-display_paragraft{
        font-size: 16px!important;
    }
    .category-hero .container {
        padding-top: 40px;
    }
    .product-category-display_button-wrapper{
        display: contents;
        button{
            width: 100%!important;
        }
    }
    .basic-category-display_title{
        max-width: 335px!important;

    }
    .title-basic{
        font-size: 40px!important;
        line-height: 140%!important;
    }
    .basic{
        .container{
            padding-top: 20px!important;
        }
    }
}
.basic{
    .container{
        padding-top: 100px;
    }
}
.content-dsc{
    padding-top: 60px;
    p{
        color: rgba(39, 66, 80, 0.80);
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 180%; /* 25.2px */
        letter-spacing: -0.18px;
    }
}

.basic-category-display_title{
    span{
        font-size: 64px;
    }
}