@use "../abstracts" as *;
@use "../base" as *;
@use "../components" as *;
@use "../layout" as *;


.begin_info-items{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 389px;
    padding: 32px;
    align-items: flex-start;
    gap: 8px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 28px;
    background: #F7F7F7;
    .begin_bedge{
        color: #FFF;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 14px */
        letter-spacing: -0.14px;
        border-radius: 40px;
        background: #26D743;
        padding: 8px 12px;
    }
    &:hover{
        background: #FAF1F2;
    }
    h2{
        color: #274250;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 24px */
        letter-spacing: -0.24px;
    }
    p{
        color: rgba(39, 66, 80, 0.70);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.16px;
    }
    img{
        width: 250px;
        height: 250px;
        margin-inline: auto;
    }
    .begin_button-wrapper{
        @include flex-box(row, center, center, 8px);
        width: 100%;
        margin-top: 16px;
    }
}