@use "../abstracts" as *;
@use "../base" as *;
@use "../components" as *;
@use "../layout" as *;

.cart{
    .container{
        padding-top: 80px!important;
        .cart-content{
            @include flex-box(column, space-between, start, 64px);
            .cart-title{
                color: #274250;
                font-family: Poppins;
                font-size: 40px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 48px */
                letter-spacing: -0.4px;
                // margin-bottom: 64px;
            }
            .text-empty{
                color: #274250;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 48px */
                letter-spacing: -0.4px;
                margin-left: auto;
                margin-right: auto;
                padding: 20px 120px;
                border-radius: 20px;
                border: solid 1px #ED1C24;
                background-color: #F7F7F7;
            }
            .cart-content-items{
                @include flex-box(row, space-between, start, 48px);
                .cart-block, 
                .cart-head{
                    @include flex-box(row, center, start, 0px);
                }
                .title{
                    width: 440px!important;
                }
                .cart-head{
                    border-bottom: solid 1px #E6E6E6;
                    margin-bottom: 24px;
                    padding-bottom: 24px;
                    div{
                        span{
                            color: #274250;
                            font-family: Poppins;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 120%; /* 21.6px */
                            letter-spacing: -0.18px;
                        }
                    }
                }
                .cart-block{
                    border-radius: 20px;
                    background: #F7F7F7;
                    display: flex;
                    padding: 20px 24px;
                    justify-content: start;
                    align-items: center;
                    align-self: stretch;
                    margin-bottom: 16px;
                    &-head{
                        width: 400px;
                    }
                    &-title{
                        width: 400px;
                        max-width: 400px;
                        display: flex;
                        flex-direction: row;
                        gap: 16px;
                        &_text{
                            @include flex-box(column, center, start, 0px);
                            .title{
                                color: #274250;
                                font-family: Poppins;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 100%; /* 18px */
                                letter-spacing: -0.18px;
                            }
                            .number{
                                color: #274250;
                                font-family: Poppins;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: -0.14px;
                                margin-top: 8px;
                            }
                        }
                    }
                    &-price{
                        width: 100px;
                        display: flex;
                        .number-price{
                            color: #274250;
                            font-family: Poppins;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 100%; /* 18px */
                            letter-spacing: -0.18px;
                        }
                    }
                    &-quantity{
                        width: 100px;
                    }
                    &-total{
                        width: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .number-total{
                            color: #274250;
                            font-family: Poppins;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 100%; /* 18px */
                            letter-spacing: -0.18px;
                        }
                    }
                    &-remove{
                        width: 100px;
                        display: flex;
                        justify-content: center;
                    }

                    &-quantity{
                        .product-quantity{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            border-radius: 8px;
                            border: 1px solid #E6E6E6;
                            background: #F7F7F7;
                            padding: 8px;
                            align-items: center;
                            width: 90px;
                            .decrement,
                            .increment
                            {
                                border: none;
                                background: transparent;
                                display: flex;
                            }
                            .quantity-input{
                                border: none;
                                background: transparent;
                                width: 35px;
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                padding-inline: 12px;
                                color: #274250;
                                font-family: Poppins;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                                letter-spacing: -0.14px;
                            }

                        }
                    }
                }
                .cart-summary{
                    max-width: 300px;
                    width: 100%;
                    &-head{
                        border-bottom: solid 1px #E6E6E6;
                        margin-bottom: 24px;
                        padding-bottom: 24px;
                        .text-summary{
                            color: #274250;
                            font-family: Poppins;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 120%; /* 21.6px */
                            letter-spacing: -0.18px;
                        }
                    }
                    &-main{
                        .cart-summary-item{
                            border-bottom: solid 1px #E6E6E6;
                            margin-bottom: 24px;
                            padding-bottom: 24px;
                            display: flex;
                            justify-content: space-between;
                        }
                        .term_layout{
                            display: flex;
                            flex-direction: column;
                            gap: 24px;
                            .text-tax{
                                color: rgba(17, 17, 17, 0.50);
                                font-family: Poppins;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 140%; /* 19.6px */
                                letter-spacing: -0.14px;

                            }
                            .checkbox-layout {
                                display: flex;
                                flex-direction: row;
                                gap: 12px;
                                input[type="checkbox"] {
                                  accent-color: red; // ini akan ubah background checkbox saat dicentang jadi merah
                                }
                                
                                label {
                                    display: flex;
                                    align-items: center;
                                    cursor: pointer;
                                    gap: 8px;
                                    }
                                
                                }
                                
                            
                            .text-term{
                                color: rgba(17, 17, 17, 0.50);
                                font-family: Poppins;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 140%; /* 19.6px */
                                letter-spacing: -0.14px;
                                .term-link{
                                    text-decoration: underline;
                                    color: #ED1C24;
                                }
                            }
                        }
                    }
                    .cart-button{
                        display: flex;
                        flex-direction: column;
                        align-items: stretch;
                        justify-content: center;
                        gap: 24px;
                        margin-top: 24px;
                    }
                }

            }
            form{
                width: 100%;
            }

            
            .cart-remove{
                border-radius: 8px;
                border: 1px solid #E6E6E6;
                background: #F7F7F7;
                display: flex;
                padding: 8px;
                justify-content: center;
                align-items: center;
                gap: 12px;
                cursor: pointer;
            }

        }

    }

}

.form-btn_card{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}
.cart-button{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 24px;
    margin-top: 24px;
}


.drawer-footer-details{
    .cart-summary{
        // max-width: 300px;
        width: 100%;
        &-head{
            border-bottom: solid 1px #E6E6E6;
            margin-bottom: 24px;
            padding-bottom: 24px;
            .text-summary{
                color: #274250;
                font-family: Poppins;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 21.6px */
                letter-spacing: -0.18px;
            }
        }
        &-main{
            width: 100%;
            .cart-summary-item{
                border-top: solid 1px #E6E6E6;
                margin-top: 24px;
                padding-top: 24px;
                display: flex;
                justify-content: space-between;
                .drawer_total{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    &-item{
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
            .term_layout{
                display: flex;
                flex-direction: column;
                gap: 24px;
                .text-tax{
                    color: rgba(17, 17, 17, 0.50);
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%; /* 19.6px */
                    letter-spacing: -0.14px;
    
                }
                .checkbox-layout {
                    display: flex;
                    flex-direction: row;
                    gap: 12px;
                    input[type="checkbox"] {
                      accent-color: red; // ini akan ubah background checkbox saat dicentang jadi merah
                    }
                    
                    label {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        gap: 8px;
                        }
                    
                    }
                    
                
                .text-term{
                    color: rgba(17, 17, 17, 0.50);
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%; /* 19.6px */
                    letter-spacing: -0.14px;
                    .term-link{
                        text-decoration: underline;
                        color: #ED1C24;
                    }
                }
            }
        }
        .cart-button{
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            gap: 24px;
            margin-top: 24px;
        }
    }
}


.cart-block-quantity{
    .product-quantity{
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 8px;
        border: 1px solid #E6E6E6;
        background: #F7F7F7;
        padding: 8px;
        align-items: center;
        width: 90px;
        .decrement,
        .increment
        {
            border: none;
            background: transparent;
            display: flex;
        }
        .quantity-input{
            border: none;
            background: transparent;
            width: 35px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-inline: 12px;
            color: #274250;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.14px;
        }

    }
}

.cart-remove{
    border-radius: 8px;
    border: 1px solid #E6E6E6;
    background: #F7F7F7;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

// cart-drawer

.cart-drawer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;

    .drawer {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    max-height: 100%;
    background: white;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
    z-index: 999999;

    @include flex-box(column, flex-start, stretch, 0px);
    .text-empty{
        color: #274250;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 48px */
        letter-spacing: -0.4px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 120px;
        border-radius: 20px;
        border: solid 1px #ED1C24;
        background-color: #F7F7F7;
        margin-top: 12rem;
    }
    &-header {
        @include flex-box(row, space-between, flex-end, 80px);
        // padding: 24px;
        margin: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid #d9d9d9;
        flex-shrink: 0;

        .close-drawer {
        border: none;
        background-color: #ffffff;
        cursor: pointer;
        }
    }
    &-main {
        padding: 24px;
        width: 100%;
        max-height: 100%;
        overflow-y: auto;
    }
    &-footer {
        padding: 24px;
        padding-top: 0px!important;
        min-height: 120px;
        // border-top: 1px solid #d9d9d9;
        @include flex-box(column, flex-start, stretch, 0px);
        flex-shrink: 0;
        background-color: transparent;

        &-details {
        @include flex-box(row, space-between, flex-end, 80px);
        }
    }
    form {
        @include flex-box(column, space-between, stretch, 0);
        max-height: calc(100% - 72px);
        height: 100vh;
    }
    &-cart-items {
        @include flex-box(row, space-between, center, 24px);
        padding: 16px 0;
    }
    &-cart-action {
        @include flex-box(column, flex-start, flex-start, 6px);
        max-width: 250px;
        width: 100%;
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &.go-to-cart {
        pointer-events: auto;
    }
    }
    &.open {
    opacity: 1;
    pointer-events: all;
    transition: all 0.3s ease-in-out;

    .drawer {
        transform: translateX(0);
        transition: all 0.3s ease-in-out;
    }
    }
}

.drawer-cart-product-quantity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 16px;
}
.box-img{
    border-radius: 12px;
    background: #F7F7F7;
    display: flex;
    width: 104px;
    min-width: 104px;
    height: 104px;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    // aspect-ratio: 1/1;
}

@media(max-width: 640px) {
    .cart-drawer {
    .drawer {
        width: 100%;

        img {
        width: 100%;
        height: 100%;
        }
    }
    }

}