@use "../abstracts" as *;
@use "../base" as *;
@use "../components" as *;
@use "../layout" as *;

.clinicaly{
    .container{
        padding-top: 120px!important;
        padding-bottom: 80px!important;
        padding-inline: 32px!important;
        overflow: hidden;
        .clinicaly-content{
            position: relative;
            @include flex-box(row, space-between, flex-end, 0px);
            // padding: 60px 78px;
            padding-inline: 78px;
            border-radius: 48px;
            // background: linear-gradient(180deg, #111D23 0%, #223C4A 100%);
            background: url('background-clinicaly.png') center/cover no-repeat; 
            .image-clinicaly{
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 0;
            }
            &_text{
                z-index: 1;
                padding-block: 60px;
                &-bedge{
                    border-radius: 40px;
                    background: rgba(255, 255, 255, 0.20);
                    display: flex;
                    padding: 8px 12px;
                    justify-content: center;
                    align-items: center;
                    max-width: 100px;
                    width: 100%;
                    color: white;
                    margin-bottom: 32px;

                }
                &-title{
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%; /* 48px */
                    letter-spacing: -0.4px;
                    max-width: 405px;
                    span{
                        color: rgba(255, 255, 255, 0.60);
                    }
                }
                &-weightcal{
                    margin-top: 86px;
                    span{
                        color: rgba(255, 255, 255, 0.80);
                        font-family: Poppins;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%; /* 22.4px */
                        letter-spacing: -0.16px;
                        
                    }
                    .card {
                        margin-top: 24px;
                        width: 464px;
                        padding: 40px;
                        text-align: center;
                        color: white;
                        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
                        border-radius: 28px;
                        border: 1.5px solid rgba(255, 255, 255, 0.10);
                        background: rgba(255, 255, 255, 0.04);
                        backdrop-filter: blur(19px);
                        .card-weight_head{
                            @include flex-box(row, space-between, center, 24px);
                            .title {
                                color: rgba(255, 255, 255, 0.80);
                                font-family: Poppins;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 140%; /* 22.4px */
                                letter-spacing: -0.16px;
                            }
                            .weight {
                                color: #FFF;
                                font-family: Poppins;
                                font-size: 48px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 140%; /* 67.2px */
                                letter-spacing: -0.48px;
                                .unit {
                                    font-size: 18px;
                                    color: rgba(255, 255, 255, 0.7);
                                    margin-left: -10px;
                                }
                            }

                        }
                    }
            
                    .slider-container {
                        position: relative;
                        margin: 20px 0;

                            .slider {
                                -webkit-appearance: none;
                                appearance: none;
                                width: 100%;
                                height: 4px;
                                border-radius: 5px;
                                outline: none;
                                background: linear-gradient(to right, red var(--progress, 40%), white var(--progress, 40%));
                                transition: background 0.1s;
                                cursor: pointer;
                            }
                            
                            /* Track untuk Chrome, Safari, Edge */
                            .slider::-webkit-slider-runnable-track {
                                width: 100%;
                                height: 4px;
                                border-radius: 5px;
                            }
                            
                            /* Thumb (tombol bulat) */
                            .slider::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            appearance: none;
                            width: 24px;
                            height: 24px;
                            background: white;
                            border: 3px solid #FF3B30;
                            border-radius: 50%;
                            cursor: pointer;
                            position: relative;
                            margin-top: -9px;
                            }
                            
                            /* Firefox */
                            .slider::-moz-range-track {
                                width: 100%;
                                height: 10px;
                                background: white;
                                border-radius: 5px;
                            }
                            
                            .slider::-moz-range-progress {
                                background: red;
                                height: 10px;
                                border-radius: 5px 0 0 5px;
                            }
                    }
            
                }
            }
            &_cta{
                @include flex-box(row, space-between, flex-end, 0px);
                position: relative;
                &-img{
                    position: absolute;
                    right: -220px;
                    bottom: 0;
                }
            }
        }
    }
}
@media(max-width: 768px) {
    .clinicaly{
        .container{
            padding-inline: 16px!important;
        }
    }
    .clinicaly-content_cta-img{
        position: relative!important;
        right: 0px!important;
        width: 400px!important;
        height: 400px!important;
    }
    .clinicaly-content{
        flex-direction: column!important;
        padding: 0px!important;
    }
    .clinicaly-content_text-weightcal{
        .card{
            width: 100%!important;
        }
    }
    .clinicaly-content_text-weightcal{
        margin-top: 40px!important;
    }
    .clinicaly-content_text {
        padding: 48px 20px 0px 20px!important;
    }
}