@use "../abstracts" as *;
@use "../base" as *;
@use "../components" as *;
@use "../layout" as *;

.footer{
    background: #000;
    position: relative;
    overflow: hidden;
    .container{
        padding-top: 64px;
        padding-bottom: 118px;
        .footer_layout{
            @include flex-box(row, space-between, center, 16px);
            .footer-brand_wrapper{
                @include flex-box(column, space-between, flex-start, 16px);
                .footer_brand{
                    width: auto;
                    @include flex-box(row, start, flex-start, 1px);
                }
                p{
                    overflow: hidden;
                    color:#CFCFCF;
                    text-overflow: ellipsis;
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 21px */
                    padding-left: 14px;
                    max-width: 611px;
                }
            }
            .footer_payment{
                @include flex-box(row, center, center, 24px);
            }
        }
        .footer_layout-menu{
            @include flex-box(row, space-between, flex-start, 16px);
            margin-block: 96px;
            .footer-menus_wrapper{
                @include flex-box(row, flex-end, flex-start, 16px);
                width: 100%;
            }
            .footer-menu-list{
                @include flex-box(row, space-between, flex-start, 50px);
                .list-lang{
                    @include flex-box(row, space-between, center, 16px);
                    color: var(--Text-Light-Primary, #FFF);
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 24px */
                }
                .list-footer{
                    @include flex-box(column, space-between, flex-start, 24px);
                    li{
                        span{
                            color: var(--Text-Light-Primary, #FFF);
                            font-family: Inter;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 120%; /* 19.2px */
                            letter-spacing: -0.32px;
                        }
                        a{
                            color: var(--Text-Light-Primary, #FFF);
                            font-family: Inter;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 100%; /* 16px */
                            max-width: 165px;
                        }
                    }
                }
            }
        }

        .footer_layout-allright{
            @include flex-box(row, space-between, center, 16px);
            margin-bottom: 40px;
            .footer-allright{
                p{
                    color: rgba(255, 255, 255, 0.60);
                    text-align: right;
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                }
            }
            .footer_privacy{
                a{
                    color: rgba(255, 255, 255, 0.60);
                    text-align: right;
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                }
            }
        }
        .img-oranament{
            width: 100%;
            position: absolute;
            bottom: -14px;
            left: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
}

@media(max-width: 768px) {
    .footer_layout{
        flex-direction: column!important;
    }
    .footer_layout-menu{
        flex-direction: column!important;
        margin-block: 10px!important;
        flex-direction: column!important;
        justify-content: center!important;
        align-items:center!important;

    }
    .footer-menus_wrapper{
        display: flex!important;
        margin-top: 40px;
        flex-direction: column!important;
        justify-content: center!important;
        align-items:center!important;
    }
    .footer_layout-allright{
        flex-direction: column!important;
        margin-bottom: -40px!important;
        margin-top: 80px!important;
    }
    .img-oranament{
        bottom: -40px!important;
    }
    .footer-menu-list{
        display: flex!important;
        flex-direction: column!important;
        align-items: center!important;
        gap: 25px!important;
        .list-footer{
            align-items: center!important;
        }
    }

}
.footer_payment{
    @include flex-box(row, center, center, 24px);
    .payment_icon{
        @include flex-box(row, center, center, 24px); 
    }
}