@use "../abstracts" as *;
@use "../base" as *;
@use "../components" as *;
@use "../layout" as *;

.hero-homepage{
  background: linear-gradient(180deg, rgba(250, 241, 242, 0.00) 0%, #FAF1F2 100%), #FFF;
  .container{
    padding-top: 100px;
    .home-content{
      &_wrapper{
        @include flex-box(row, space-between, center, 8px);
        &-text{
          @include flex-box(column, start, flex-start, 24px);
          .home-display{
            &_title{
              color: rgba(39, 66, 80, 0.60);
              font-family: Poppins;
              font-size: 88px;
              font-style: normal;
              font-weight: 600;
              line-height: 110%; /* 96.8px */
              letter-spacing: -0.88px;
              max-width: 795px;
              span{
                color: #274250;
              }
            }
            &_paragraft{
              color: rgba(39, 66, 80, 0.80);
              font-family: Poppins;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 25.2px */
              letter-spacing: -0.18px;
              max-width: 524px;
              width: 100%;
            }
          }
        }
        &-image{
          @include flex-box(column, start, flex-start, 16px);
          .home-content_wrapper-card{
            @include flex-box(row, start, center, 12px);
            border-radius: 16px;
            border: 1px solid rgba(237, 28, 36, 0.12);
            background: #FFF;
            backdrop-filter: blur(8px);
            padding: 24px 32px;
  
            .card-home_text{
              max-width: 180px;
              width: 100%;
              color: #111;
              font-family: Poppins;
              font-size: 14px;
              font-style: normal;
              font-weight: 300;
              line-height: 140%;
              letter-spacing: -0.14px;
              span{
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: 820px) {
  .hero-homepage{
    .container{
      padding-top: 32px;
    }
  }
  .home-content_wrapper-text{
    width: 100%!important;
  }
  .home-display_title{
    font-size: 36px!important;
  }
  .home-content_wrapper-image,
  .home-content_wrapper-card{
    width: 100%;
  }
  .home-content_wrapper {
    gap: 40px!important;
  }
  .home-content_wrapper{
    flex-direction: column!important;
  }
  .home-display_button-wrapper{
    display: contents;
    button{
      width: 100%!important;
    }
  }
}
