@use "../abstracts" as *;
@use "../base" as *;
@use "../components" as *;
@use "../layout" as *;

.navbar{
    .container{
        padding-block: 16px;
        .navbar_layout{
            @include flex-box(row, space-between, center, 16px);
            .navbar_brand{
                width: auto;
                @include flex-box(row, center, center, 1px);
            }
            .navbar_menus{
                @include flex-box(row, space-between, center, 16px);
                width: 100%;
                &-left{
                    @include flex-box(row, space-between, center, 32px);
                    a{
                        color: #2E4653;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 100%; /* 14px */
                        letter-spacing: -0.14px;
                    }
                }
                &-right{
                    @include flex-box(row, space-between, center, 16px);
                    a{
                        color: #2E4653;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 100%; /* 14px */
                        letter-spacing: -0.14px;
                    }
                    button{
                        color: #2E4653;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 100%; /* 14px */
                        letter-spacing: -0.14px;
                    }
                }
            }
            .navbar_button{
                display: none;
            }
        }
    }
}

@media(max-width: 768px) {
    .navbar_menus{
        display: none!important;
        // display: flex;
        flex-direction: column!important;
        align-items: center;
        justify-content: center;
        position: absolute;
        background: linear-gradient(180deg, rgba(250, 241, 242, 0.00) 0%, #FAF1F2 100%), #FFF;
        padding: 20px;
        left: 0;
        top: 8rem;
        &-left,
        &-right
        {
            display: flex!important;
            flex-direction: column!important;
            align-items: center!important;
            justify-content: center!important;
            gap: 20px!important;
        }
    }
    .navbar_menus.active{
        display: flex!important;
    }
    .navbar_button{
        display: block!important;
    }
    .navbar_layout{
        margin-top: 38px;
    }
}