@use "../abstracts" as *;
@use "../base" as *;
@use "../components" as *;
@use "../layout" as *;

.navbar{
    .container{
        padding-block: 16px;
        .navbar_layout{
            @include flex-box(row, space-between, center, 16px);
            .navbar_brand{
                width: auto;
                @include flex-box(row, center, center, 1px);
                a{
                    margin-top: 0.55rem;
                }
            }
            .navbar_menus{
                @include flex-box(row, space-between, center, 16px);
                position: relative;
                width: 100%;
                &-left{
                    @include flex-box(row, space-between, center, 32px);
                    margin-left: auto;
                    margin-right: auto;
                    padding-right: 80px;
                    a{
                        color: #2E4653;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 100%; /* 14px */
                        letter-spacing: -0.14px;
                    }
                }
                &-right{
                    @include flex-box(row, space-between, center, 16px);
                    a{
                        color: #2E4653;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 100%; /* 14px */
                        letter-spacing: -0.14px;
                    }
                    button{
                        color: #2E4653;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 100%; /* 14px */
                        letter-spacing: -0.14px;
                    }

                }
                .navbar-search{
                    position: absolute;
                    right: 40px;
                    border-radius: 102px;
                    background: #F5F5F5;
                    display: flex;
                    padding: 8px 12px 8px 12px;
                    align-items: center;
                    gap: 8px;
                    form{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        input{
                            height: 30px;
                            border-color: transparent;
                            background-color: transparent;
                            width: 80px;
                            padding-left: 8px;
                            transition: width 0.4s ease, background-color 0.3s ease;
                            &:focus-visible {
                                width: 310px;
                                background-color: white;
                            }
                        }

                        button{
                            border-color: transparent;
                            background-color: transparent;
                            cursor: pointer;
                            :hover{
                                transform: translate(-1px, -2px);
                            }
                        }
                    }
                }
            }
            .navbar_button{
                display: none;
            }
            .navbar-search_mobile{
                border-radius: 100%;
                background: transparent;
                display: none;
                justify-content: center;
                align-items: center;
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

@media(max-width: 768px) {
    .navbar-search{
        display: none!important;
    }
    .navbar-search_mobile{
        display: flex!important;
        margin-left: auto !important;
    }
    .navbar_brand{
        margin-left: auto !important;
    }
    .navbar_menus{
        display: none!important;

        // display: flex;
        flex-direction: column!important;
        align-items: center;
        justify-content: center;
        position: absolute;
        background: linear-gradient(180deg, rgba(250, 241, 242, 0.00) 0%, #FAF1F2 100%), #FFF;
        padding: 20px;
        left: 0;
        top: 8rem;
        &-left,
        &-right
        {
            display: flex!important;
            flex-direction: column!important;
            align-items: center!important;
            justify-content: center!important;
            gap: 20px!important;
        }
    }
    .navbar_menus.active{
        display: flex!important;
        z-index: 999;
        top: 80px;
    }
    .navbar_button{
        display: block!important;
    }
    // .navbar_layout{
    //     margin-top: 38px;
    // }
}

// serach style page

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .container{
        h1{
            color: #274250;
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 28.8px */
            letter-spacing: -0.24px;
            margin-bottom: 24px;
        }
        .search-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1{
                margin-bottom: 64px;
            }
        }
        .search-result{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            gap: 24px;
            .header-card-search{
                font-size: 20px;
            }
        }
        .search-page-input{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 102px;
            background: #FFF;
            padding: 8px 20px 8px 12px;
            gap: 8px;
            
            input{
                height: 48px;
                border-color: transparent;
                background-color: transparent;
                width: 100%;
                padding-left: 8px;
            }

            button{
                border-color: transparent;
                background-color: transparent;
                cursor: pointer;
                display: flex;
                align-items: center;
                :hover{
                    transform: translate(-1px, -2px);
                }
            }
        }

    }
}
.bg-search{
    background: linear-gradient(180deg, rgba(250, 241, 242, 0.00) 0%, #FAF1F2 100%), #FFF;
}
.search-result{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}

.search-content {
    padding-top: 0;
    padding-bottom: 0;
    transition: padding 0.3s ease;
}

.search-content.has-results {
    padding-top: 80px;
    padding-bottom: 120px;
}
.search-summary{
    max-width: 1282px;
    width: 100%;
    margin: auto;
    padding-bottom: 32px;
    padding-inline: 80px;
    p{
        color: #2E4653;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 14px */
        letter-spacing: -0.14px;
    }
}