@use "../abstracts" as *;
@use "../base" as *;
@use "../components" as *;
@use "../layout" as *;

.product-page{
    .container{
        padding-top: 120px!important;
        padding-bottom: 80px!important;
        .product-content{
            &_wrapper{
                &-card{
                    @include flex-box(row, start, center, 16px);
                    .card-product{
                            @include flex-box(row, space-around, center, 0px);
                            width: 100%;
                            border-radius: 28px;
                            background: #F7F7F7;
                            padding: 20px 0px 20px 48px;
                            gap: 4px;
                            transition: All 0.3s ease;
                            &:hover{
                                background: #FAF1F2;
                            }
                        &_image{
                            width: 100%;
                            max-width: 300px;
                            // height: 321px;
                        }
                        &_text{
                            @include flex-box(column, center, flex-start, 24px);
                            height: 350px;
                            &-title{
                                color: rgba(39, 66, 80, 0.60);
                                font-family: Poppins;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 110%; /* 22px */
                                letter-spacing: -0.2px;
                                max-width: 219px;
                                span{
                                    color: #274250;
                                }
                            }
                        }
                    }
                }
                &-small{
                    margin-top: 16px;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: 1fr;
                    // grid-column-gap: 16px;
                    // grid-row-gap: 16px;
                
                    .card-product-small{
                        @include flex-box(column, center, center, 14px);
                        border-radius: 28px;
                        border: 1px solid #E6E6E6;
                        background: #FFF;
                        padding: 20px 38px 30px 38px;
                        &_text-title{
                            color: #274250;
                            text-align: center;
                            font-family: Poppins;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 110%; /* 22px */
                            letter-spacing: -0.2px;
                        }
                        &:hover{
                            background: #FAF1F2;
                        }
                    }
                }
                
            }
        }
    }
}

.card-product-small{
    @include flex-box(column, center, center, 14px);
    border-radius: 28px;
    border: 1px solid #E6E6E6;
    background: #FFF;
    padding: 20px 38px 30px 38px;
    margin-inline: 8px;
    &_text-title{
        color: #274250;
        text-align: center;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%; /* 22px */
        letter-spacing: -0.2px;
    }
    &:hover{
        background: #FAF1F2;
    }
}

.product-slider_small{
    @include flex-box(row, center, center, 0px);
    margin-top: 16px;
    position: relative;
    .slider-product-page{
        overflow: hidden;
    }
    .button-slider{
        &_next{
            left: -15px;
            position: absolute;
            z-index: 1;
            
        }
        &_prev{
            right: -20px;
            position: absolute;
            z-index: 1;
        }
    }
    .icon-button_slider{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        background: white;
        border: solid 1px #E6E6E6;
        border-radius: 100%;
        cursor: pointer;
        &:hover{
            border: solid 1px #ED1C24;
            svg{
                path{
                    fill:#ED1C24;
                }
            }
        }
    }
}

@media(max-width: 768px) {
    .product-content_wrapper-card,
    .card-product{
        flex-direction: column-reverse!important;
        width: 100%;
        padding: 20px 10px 30px 10px!important;
        .card-product_image{
            width: 100%!important;
            height: auto!important;
            max-width: 200px!important;
        }
    }
    .card-product_text{
        justify-content: center!important;
        align-items: center!important;
        height: unset!important;
    }
    .card-product_text-title{
        text-align: center!important;
    }
    .product-content_wrapper-small{
        grid-template-columns: repeat(2, 1fr)!important;
        
    }
    .card-product-small_image{
        width: 116px!important;
        height: 116px!important;
    }
    .card-product-small{
        padding: 10px 28px 20px 28px!important;
    }
    .button-slider{
        &_next{
            left: 0px!important;
            position: absolute;
            z-index: 1;
            
        }
        &_prev{
            right: 0px!important;
            position: absolute;
            z-index: 1;
        }
    }

}
#ProductPhotoImg {
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.slider-product-page{
    display: flex;
    flex-direction: row!important;
}