@use "../abstracts" as *;
@use "../base" as *;
@use "../components" as *;
@use "../layout" as *;

.testimoni{
    @include flex-box(column, center, center, 64px);
    .container{
        padding-top: 120px!important;
        padding-bottom: 80px!important;
        padding-inline: 120px!important;
        .testimoni-content{
            @include flex-box(column, center, center, 64px);
            &_title{
                @include flex-box(row, space-between, flex-end, 16px);
                width: 100%;
                .title-wrap{
                    @include flex-box(column, center, flex-start, 16px);
                    &-bedge{
                        color: #ED1C24;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 100%; /* 14px */
                        letter-spacing: -0.14px;
                        border-radius: 40px;
                        background: #FAF1F2;
                        padding: 8px 12px;
                    }
                    &-text{
                        color: #274250;
                        font-family: Poppins;
                        font-size: 40px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%; /* 48px */
                        letter-spacing: -0.4px;
                        max-width: 400px;
                    }
                }
            }
            &_slider{
                @include flex-box(row, space-between, center, 16px);
                .review-slider{
                    .card-testimoni{
                        @include flex-box(column, start, flex-start, 40px);
                        border-radius: 16px;
                        border: 1px solid #E6E6E6;
                        background: #FFF;
                        padding: 48px;
                        max-width: 491px;
                        margin-inline: 8px;
                        &_text{
                            color: #111;
                            font-family: Poppins;
                            font-size: 26px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%; /* 31.2px */
                            letter-spacing: -0.26px;
                            display: -webkit-box;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                        &_name{
                            @include flex-box(row, space-between, center, 8px);
                            &-foto{
                                width: 48px;
                                height: 48px;
                                border-radius: 100%;
                            }
                            &-wrapper{
                                @include flex-box(column, space-between, flex-start, 4px);
                                &-text{
                                    color: #49608B;
                                    font-family: Poppins;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 120%; /* 19.2px */
                                    letter-spacing: -0.16px;
                                }
                                &-profesion{
                                    color: rgba(17, 17, 17, 0.50);
                                    text-align: center;
                                    font-family: Poppins;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    letter-spacing: -0.14px;
                                }
                            }
                        }
                    }
                }

            }
        }

    }
}

    .slick-dots {
        display: flex !important;
        justify-content: center;
        margin-top: 64px;
        position: relative;
    }
    .slick-dots li {
        position: relative;
        width: 12px;
        height: 12px;
        background-color: rgba(237, 28, 36, 0.1);
        border-radius: 100px;
        transition: all 0.3s ease;
        list-style: none;
        margin: 0 5px;
        }
    .slick-dots li.slick-active {
        width: 56px;
        height: 12px;
        background-color: rgba(237, 28, 36, 0.1);
        border-radius: 25px;
        margin: 0 4px;
        }
    .slick-dots li.slick-active::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: #ed1c24;
        border-radius: 25px;
        transition: width var(--progress-duration) linear;
        transform-origin: left;
        }
    .slick-dots li.slick-active.active-progress::after {
        width: 100%;
        }
    .slick-dots li button{
        color: transparent;
        opacity: 0;
        }
    .slick-dots li button:before {
        color: transparent;
        }
    .slick-dots li.slick-active button:before {
        color: transparent;
        }


@media(max-width: 768px) {
    .testimoni{
        .container{
            padding-inline: 16px!important;
        }
    }
    .title-wrap{
        align-items: center!important;
    }
    .testimoni-content_title-text{
        text-align: center!important;
    }
    .card-testimoni{
        max-width: 325px!important;
        padding: 20px!important;
    }
    .testimoni-content{
        overflow: hidden;
    }
    .testimoni-content_title{
        display: flex;
        flex-direction: column!important;
    }
    .button-slider_wrap{
        width: 100%!important;
        margin-top: 40px;
        .button-slider{
            &_next{
                left: 40px!important;
            }
            &_prev{
                right: 40px!important;
            }
        }
    }
    .title-wrap-text,
    .faq-content_title-text{
        font-size: 28px!important;
    }
}
.button-slider_wrap{
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    .button-slider{
        &_next{
            
        }
        &_prev{
        }
    }
    .icon-button_slider{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        background: white;
        border: solid 1px #E6E6E6;
        border-radius: 100%;
        cursor: pointer;
        &:hover{
            border: solid 1px #ED1C24;
            svg{
                path{
                    fill:#ED1C24;
                }
            }
        }
    }
}